{% extends 'siteframe_static.html' %}
{% load static %}
{% load home_tags %}

{% block extra_css %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form-validation.css' %}">
{% endblock %}

{% block content %}
<div class="flex flex-row">

    <div class="md:w-1/3 bg-white flex flex-col gap-4"></div>

    <div class="bg-white w-full border p-6" style="min-height: 100vh;">

    {% if message %}
    {{ message }}
    {% endif %}
    <form class="flex flex-col gap-6" method="POST" action="">

        {% csrf_token %}
        {{ form.media }}

        <div class="form-title-row">
            <h1 class="text-2xl">Create Post</h1>
        </div>

        <p>{{ form.non_field_errors }}</p>

        {% for field in form %}
        <div class="flex flex-col">
            <label class="text-lg" for="{{ form.field.id_for_label}}">
                <span>{{ field.label }}:</span>
            </label>
            {{ field.errors }}
            <div class="pt-2">{{ field }}</div>
        </div>
        {% endfor %}

        <div class="flex flex-row justify-end">
            <input class="px-3 py-2 bg-green-600 text-white cursor-pointer hover:bg-green-700" type="submit" />
        </div>
    </form>

    </div>

    <div class="md:w-1/3 bg-white flex flex-col gap-4"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  let quill = new Quill('#id_text', {

  });
</script>

{% endblock %}
