{% extends 'siteframe_static.html' %}
{% load generic %}

{% block content %}
<div class="flex flex-row" style="min-height: 100vh;">
    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>

    <div class="bg-white p-5 md:p-8 w-full">
        <div class="my-4 text-xl flex flex-row justify-around">
            <h2 class="md:text-2xl underline">Listen To Shafter Blog Posts</h2>
        </div>

        <div class="flex flex-row gap-4 justify-center mt-9 mb-3 md:justify-start">
            <div onclick="setByDate()" class="p-2 border cursor-pointer select-none bg-gray-200">By Date</div>
            <div onclick="setByProject()" class="p-2 border cursor-pointer select-none hover:bg-gray-100 ">By Project</div>
        </div>

        <div id="byDate">
        {% for year, batch in view.posts_by_year.items  %}
            <div class="mt-10 mb-2 border-b pb-2 text-lg font-bold">{{ year }}</div>
            <div class="flex flex-col gap-4 flex-wrap">
            {% for item in batch %}
                <div class="text-lg">
                    <a href="{% url 'Blog:view_post' item|get_from_dict:'slug'  %}" class="text-blue-400">
                        {{ item|get_from_dict:'title' }}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>

        <div id="byProject" style="display: none;">
        {% for project, batch in view.posts_by_project.items  %}
            <div class="mt-10 mb-2 border-b pb-2 text-lg font-bold">{{ project }}</div>
            <div class="flex flex-col gap-4 flex-wrap">
            {% for item in batch %}
                <div class="text-lg">
                    <a href="{% url 'Blog:view_post' item|get_from_dict:'slug'  %}" class="text-blue-400">
                        {{ item|get_from_dict:'title' }}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>

    </div>



    <div class="md:w-1/3 bg-white bg-opacity-75"></div>
</div>
{% endblock %}

{% block extra_js %}

<script>

function setByProject() {
    document.getElementById('byProject').style.display = 'block'
    document.getElementById('byDate').style.display = 'none'
}

function setByDate() {
    document.getElementById('byDate').style.display = 'block'
    document.getElementById('byProject').style.display = 'none'
}

</script>

{% endblock %}