{% extends 'siteframe_static.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="bg-white h-screen select-none flex flex-row gap-6">

        <div class="w-1/3"></div>

        <div class="flex flex-col gap-4 w-full pt-6">
            <div class="row actions my-4">
                <a href="{% url "Blog:create_post" %}" class="btn btn-white btn-small">Create New</a>
            </div>
            <h1 class="text-2xl mb-2 border-b">Drafts</h1>
            <div class="row">
                <ul id="drafts">
                    {% for draft in object_list %}
                        {% if not draft.is_published %}
                        <li style="list-style: none">
                            <a class="text-blue-600" href="{% url "Blog:view_post" draft.slug %}">{{ draft.title }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <h1 class="text-2xl mb-2 border-b">Published</h1>

            <ul id="drafts">
                {% for draft in object_list %}
                    {% if draft.is_published %}
                    <li style="list-style: none">
                        <a class="text-blue-600" href="{% url "Blog:view_post" draft.slug %}">{{ draft.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="w-1/3"></div>
    </div>
{% endblock %}

