{% extends 'siteframe_static.html' %}
{% load static %}

{% block content %}
<div class="flex flex-row" style="min-height: 100vh;">
    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>

    <div class="bg-white p-5 md:p-8 w-full">
        <div class="text-2xl md:text-3xl my-3">
            <h1 id="title">{{ object.title }}</h1>
        </div>
        <div class="row mb-4 text-gray-500">
            <h5 class="post-detail" id="author">{{ object.author }} | {% if view.is_preview %}Preview Mode{% else %}{{ object.published_on }}{% endif %}</h5>
        </div>
        <div class="flex flex-row gap-4 mb-4">
        {% if view.is_editable %}
            {% if view.is_preview %}
                <a href="#" class="border p-2" onclick="document.forms['publishForm'].submit(); return false;">Publish</a>
                <a href="{% url "Blog:edit_post" object.slug %}" class="border p-2">Edit</a>
            {% else %}
                <a href="{% url "Blog:edit_post" object.slug %}" class="border p-2">Open in Editor</a>
            {% endif %}
        {% endif %}
        </div>
        <form id="publishForm" method="post" style="display: none">
          {% csrf_token %}
          <input type="hidden" name="publish" value="true">
        </form>
        <div class="border-t pt-4 text-2xl">
            <p>{% autoescape off %}{{ object.body }}{% endautoescape %}</p>
        </div>
    </div>
    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>
</div>
<form id="publishForm" method="post" name="publishForm" style="display: none">
{% csrf_token %}
<input type="hidden" name="publish" value="true">
</form>
{% endblock %}


