{% extends 'siteframe_static.html' %}

{% load static %}
{% load i18n %}
{% load translation_tags %}

{% block content %}

<div class="h-full bg-fixed bg-cover bg-center font-karla" style="background-image:url({% static 'photo/about_header.jpeg' %})">
    <div class="text-2xl pt-10 pb-4 opacity-95 md:w-1/3 bg-white mb-96 border-r-2 border-b-2 border-gray-800">
        <div class="relative p-4 text-xl italic bg-neutral-100 text-neutral-600 border-neutral-500 quote">
            <div class="left-2 text-7xl text-gray-300 absolute top-0" aria-hidden="true">&ldquo;</div>
            <p class="mb-4 mx-6">There is no power for change greater than a community discovering what it cares about.</p>
            <div class="flex items-center justify-center">
                <div class="flex flex-col justify-end border-t pt-4">
                    <span class="mb-1 text-sm italic font-bold">
                       - Margaret J. Wheatley
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-center">

        <div class="py-12 bg-black text-white border-t-2 border-gray-800 flex flex-col items-center">
            <p class="w-10/12 md:w-3/4">
                {% blocktrans %}
                Founded in 2018, Listen To Shafter is a comprehensive community benefit organization dedicated to improving
                the quality of life and resiliency of our community. We pursue a holistic approach that promotes literacy
                and education among children and youth, encourages cooperation and public participation among teens & adults,
                and incubates and fosters growing organizations to affect positive, empirical transformation in our community.
                We continuously strive to operate programs that are conceived, designed and evaluated through a process of
                conversation with our neighbors.
                {% endblocktrans %}
            </p>
        </div>

        <div class="bg-white flex flex-col items-center">
            <div class="md:w-3/4 flex flex-col">
                <div class="flex flex-col md:flex-row justify-between text-sm py-12">

                    <div class="flex flex-row justify-around md:w-1/2">
                        <img alt="Katie Wiebe" class="h-96 object-cover" src="{% static 'photo/bio_katie.jpg' %}" />
                    </div>

                    <div class="flex flex-col gap-4 md:w-1/2 p-8 gap-4  justify-center">
                        <h2 class="text-lg text-black border-b border-gray-500">Katie Wiebe, Co-Founder/Director</h2>
                        <p>
                            {% blocktrans %}
                            Katie Wiebe has been an active member of the community for over 15 years, working with several local
                            initiatives including the Shafter Christmas Store and the Little Free library network prior to
                            co-founding Listen To Shafter. She is a tireless advocate for childhood literacy and is passionate about engaging
                            children and families in authentic community education experiences.
                            {% endblocktrans %}
                        </p>

                        <p>
                            {% blocktrans %}
                            Katie has been recognized as the 2021 "Citizen of the Year" by the Shafter Chamber of Commerce. She holds a degree in Liberal Studies from Fresno Pacific and works part-time at Grimmway
                            Academy Shafter as a literacy champion. She also raises three boys with her husband, John Wiebe,
                            and teaches at the Shafter Learning Center when her schedule allows.
                            {% endblocktrans %}
                        </p>
                    </div>

                </div>
                <div class="flex flex-col md:flex-row justify-between text-sm py-12">
                    <div class="flex flex-col gap-4 md:w-1/2 p-8 gap-4 justify-center">
                        <h2 class="text-lg text-black border-b border-gray-500">Melissa Bergen, Co-Founder/Director</h2>
                        <p>
                            {% blocktrans %}
                            Melissa Bergen is a longstanding and well-respected agent for positive change in Shafter, with a
                            committed focus on building bridges between disconnected segments of the community. Before founding
                            Listen to Shafter, Melissa collaborated with Katie on several community projects and did pastoral
                            work for Iglesia Compañerismo Cristiano
                            {% endblocktrans %}
                        </p>

                        <p>
                            {% blocktrans %}
                            Melissa has generational roots in Shafter and grew up at the local Cotton Research Station, which
                            is now designated as a historical landmark. She works as a Community Development Specialist for
                            Self-Help Enterprises and holds a Master's Degree in Community Leadership and Transformation from
                            the Fresno Pacific Biblical Seminary.
                            {% endblocktrans %}
                        </p>
                    </div>


                    <div class="flex flex-row justify-around md:w-1/2 order-first">
                        <img alt="Melissa Bergen" class="h-96 object-cover" src="{% static 'photo/bio_melissa.jpg' %}" />
                    </div>

                </div>

                <div class="flex flex-col md:flex-row justify-between text-sm py-12">

                    <div class="flex flex-row justify-around md:w-1/2">
                        <img alt="Adam Starrh" class="h-96 object-cover" src="{% static 'photo/bio_adam.jpg' %}" />
                    </div>

                    <div class="flex flex-col gap-4 md:w-1/2 p-8 gap-4 justify-center">
                        <h2 class="text-lg text-black border-b border-gray-500">Adam Starrh, Co-Founder/Director</h2>
                        <p>
                            {% blocktrans %}
                            Adam Starrh is an enthusiastic advocate for including community members in the process of
                            development planning from the very beginning. He is passionate about building effective strategic
                            approaches to positive transformation that deliver measurable outcomes as much as possible.
                            {% endblocktrans %}
                        </p>

                        <p>
                            {% blocktrans %}
                            Adam grew up in one of Shafter's many farming families and received his MBA in Economic Development
                            from Eastern University through a multi-disciplinary program that prepared him in the practices
                            of business administration, community development, community research, anthropology, program planning and more. He
                            is excited to bring these skills back home to develop new methods for building up communities.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>

            </p>
        </div>

    </div>
</div>
</div>
{% endblock %}