{% extends 'siteframe.html' %}
{% load static %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/autocomplete_static.css' %}">
{% endblock %}

{% block lang_hooks %}
    <a href="{% url 'dashboard' %}" class="header_action text-white">My Dashboard</a> |
    <a href="{% url 'account_logout' %}" class="header_action text-white">Logout</a>
{% endblock %}

{% block remove-top %}{% endblock %}
{% block main %}


    <h1 style="text-align: center; padding-top:30px">Admin Tools</h1>
        <div style="text-align: center;">
          <a href="/dashboard/">Back to Dashboard</a><br>
          <a style="color: rebeccapurple;" href="/analysis/records/">Review Analysis Records</a>
        </div>
    <h4 class="mb-4">
        <strong>Researchers</strong>
    </h4>
    <hr>
    <p>Add Researcher:</p>
    <form class="form-inline">
        <div class="form-group mb-2">
            <label for="rschrAccount">Account Name:</label>
            <input id="rschrAccount"
                   type="text"
                   autocomplete="off"
                   name="rschrAccount"
                   data-url="/lookup/account/"
                   class="js-account-select auto"
            >
        </div>
        <div class="form-group mb-2">
            <label for="rschrName">Researcher Name:</label>
            <input type="text" id="rschrName">
        </div>
        <div class="form-group mb-2">
            <label for="rschrCompetency">Authority:</label>
            <select class="form-control" id="rschrCompetency">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        </div>
        <a id="addRschrBtn" class="btn btn-dark add-btn hidden" style="display: none;">+ Add</a>
    </form>
    <hr>
    <ul class="researchers">
    {% for researcher in view.researchers %}
        <li>{{ researcher.name }} - {{ researcher.user.username }} | {{ researcher.calculate_current_competency }} ({{ researcher.base_competency }})</li>
    {% endfor %}
    </ul>
    <hr>

{% endblock %}

{% block override_footer %}
{% endblock %}

{% block extra_js %}
    <script>
        var researcher_accounts = {{ view.user_accounts|safe }};
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"></script>
    <script type="text/javascript" src="{% static 'js/autocomplete_static.js' %}"></script>
    <script>
    $(document).ready(function() {
        var $rschrAccount = document.getElementById('rschrAccount');
        autocomplete($rschrAccount, researcher_accounts);

        $('#rschrAccount').keyup(function () {
            if ($(this).val()) {
                $('#addRschrBtn').show()
            } else {
                $('#addRschrBtn').hide()
            }
        });

        $('#addRschrBtn').click(function () {
            $.ajax({
                url: "/analysis/add_researcher/",
                type: "POST",
                dataType: 'json',
                data: {
                    account: $('#rschrAccount').val(),
                    name: $('#rschrName').val(),
                    base_comp: $('#rschrCompetency').val()
                },
                success: function (result) {
                    location.reload()
                }
            })
        });
    });
    </script>
{% endblock %}