{% extends 'siteframe_static.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}<link href="{% static 'css/backend.css' %}" rel="stylesheet">{% endblock %}

{% block content %}

<div class="flex flex-row">
    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>

    <div class="flex flex-col bg-white gap-4 p-6">
      <div class="text-center flex flex-col gap-6">
          <h1 class="text-2xl">
            <strong>{% translate "Support Listen To Shafter!" %}</strong>
          </h1>
          <div class="flex flex-row justify-around">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=S6PXTEXMBEW3S&source=url" class="btn btn-dark next">{% translate "Contribute Online"%}<i class="fa fa-donate ml-1"></i></a>
          </div>
      </div>
      <div class="flex flex-col pt-6 border-t gap-6">
        <h3 class="text-lg text-bold underline">{% translate "Your contributions help us with:" %}</h3>
        <ul class="flex flex-col gap-6">
            <li class="bullet-point">
                {% blocktranslate %}
                    Developing our various projects and processing community surveys in order to provide rich and informative data to decision-makers in the community.
                {% endblocktranslate %}
            </li>
            <li class="bullet-point">
                {% blocktranslate %}
                    Engaging more people who live and work in Shafter. This includes survey translation, accessibility accommodations as well as materials and small events to raise awareness and promote participation.
                {% endblocktranslate %}
            </li>
            <li class="bullet-point">
                {% blocktranslate %}
                    Providing administrative support to new or existing local community benefit efforts and to those interested in working to improve quality of life in Shafter.
                {% endblocktranslate %}
            </li>
            <li class="bullet-point">
                {% blocktranslate %}
                    Our own administrative costs associated with managing Listen To Shafter.
                {% endblocktranslate %}
            </li>
        </ul>
{#              <button type="button" class="btn btn-outline-black prev">Go Back</button>#}
        <p>{% translate "Listen To Shafter is a registered 501(c)(3) organization and all contributions are tax deductible." %}</p>
        <p>{% translate "We love monthly commitments, but will gladly accept one-time donations as well! You can use the button  above to get started, or mail a check to:" %}</p>
        <div class="text-center">
            <p><strong>Listen To Shafter, Inc</strong><br>
            553 Padre Ave.<br>
            Shafter, CA 93263
            </p>
        </div>
      </div>
    </div>

    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>
</div>
{% endblock  %}
