{% block title %}Registration for {{ object.name }}{% endblock %}

{% block main %}

  <form id="register">
      <div class="form-group col-md-6">
          <label for="name">Full name:</label><br>
          <input class="form-control" id="name" name="name" required>
      </div>
          <label for="id_contace">{{ "Phone Number or Email Address"|translate_fixture:language }}</label><br>
          <input type="text" name="contact" placeholder="Your Contact Info for Reminder" autofocus="autofocus" required id="id_contact">
      <div class="form-group col-md-6">
          <label class="survey-label" for="gender">Choose Time</label>
          <select name="slot" id="slot" class="form-control" required>
            <option selected value="">Select Time</option>
            <option value="3:00">3:00</option>
            <option value="3:30">3:30</option>
            <option value="4:00">4:00</option>
            <option value="4:30">4:30</option>
            <option value="5:00">5:00</option>
            <option value="5:30">5:30</option>
            <option value="6:30">6:00</option>
          </select>
      </div>
      <div class="form-group col-md-6">
          <button type="submit" class="btn btn-dark next" id="registerSubmit">Sign Up</button><br>
          <a class="" href="/accounts/password/reset/">{{ "Forgot Password?"|translate_fixture:language }}</a>
      </div>
  </form>

{% endblock main %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/eventRegistration.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#registerSubmit').click( function() {
            $.ajax({
                url: "/event_registration/",
                type: "POST",
                dataType: 'json',
                data: $('#register').serialize(),
                success: function (result) {
                    if (result.success === true) {
                        alert('success!')
                    } else {
                        alert("Sorry! We had an error. Please text your registration to (661) 379-0223")
                    }
                }
            })
        });
    });
    </script>
{% endblock %}