{% extends 'siteframe.html' %}
{% load static %}
{% block extra_css %}<link href="{% static 'css/backend.css' %}" rel="stylesheet">{% endblock %}
{% block remove-top %}{% endblock %}
{% load home_tags %}

{% block main %}

      <hr class="my-5">

      <!-- Intro -->
      <section class="mt-5 wow fadeIn">

        <div class="row">

        <div class="col-md-2 mb-4 col-sm-1"></div>
          <div class="col-md-8 mb-4 col-sm-10">
              <div class="text-center">
              <h1 class="mb-2" style="padding-bottom: 24px;">
                <strong>Food Security Initiative</strong>
              </h1>
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vS87NFcQY2BOGYKZqEGE37TkgRsIJ9iC" width="100%" height="480"></iframe>
              </div>
              <hr style="margin: 2rem;">
              <h3 class="h3 mb-3">Project Summary</h3>
                  <p>In response to concerns raised by some community members, Listen To Shafter is looking to coordinate a research effort into the nature of hunger and food security in Shafter and how it's currently being addressed.</p>
                  <p>Currently, we are refining our research objectives and looking for resources to help us understand the current best practices for measuring food insecurity.</p>
                  <p>We invite all community members and any of our partners to get involved, even at this early stage, as this is an issue that touches all of us in one way or another.</p>
              <hr style="margin: 2rem;">
                  <h3 class="h3 mb-3">Our Goals</h3>
{#              <ul>#}
              <ul>
                  <li class="bullet-point">
                        Better understand the magnitude, nature and root causes of food security gaps in Shafter.
                  </li>
                  </ul>
              <ul>
                  <li class="bullet-point">
                        Profile the effects of food insecurity on the typical diet in Shafter, with special attention paid to children and women of childbearing age.
                  </li>
              </ul>
              <ul>
                  <li class="bullet-point">
                        Evaluate the efficacy of existing interventions and determine if optimizations could be made.
                  </li>
              </ul>
{#                </ul>#}
                <hr style="margin: 2rem;">
                <p>If you are interested in learning more about this project or would like to support us in any way, please reach out to us at contact@listentoshafter.org</p>
                <p id="prompt_email_signup">If you'd like to receive occasional reports about our progress click "Keep Me Posted" to receive email updates.</p>
                <div class="text-center">
                    <a id="subscribe" href="" class="btn btn-dark next">Keep Me Posted!</a>
                </div>
                <div class="email-signup">

                   <form id="subscribeForm" class="signup hidden" method="POST" style="text-align: center">
                      <div class="form-group">
                        <p>
                            <label for="id_name">Name:</label><br>
                            <input type="text" name="username" placeholder="" autofocus="autofocus" required id="id_name">
                        </p>
                        <p>
                            <label for="id_email">Email Address:</label><br>
                            <input type="email" name="email" placeholder="" required id="id_email">
                        </p>
                      </div>
                       <button id="subscribeConfirm" type="submit" class="btn btn-dark next">Sign Up</button>
                   </form>
                   <form class="hidden" style="text-align: center" id="createAccountForm">
                        <div class="form-group">
                          <p>Enter a password if you would like to create an account with Listen To Shafter using the email ID: <span id="submittedEmail"></span></p>
                          <p>
    {#                        <label for="id_password">Password</label><br>#}
                              <input type="password" name="password" placeholder="" required id="id_password">
                          </p>

                          <button type="" id="newAccount" class="btn btn-dark next">Create Account</button>
                          <button type="" id="noThanks" class="btn btn-light cancel">No Thanks</button>
                      </div>
                    </form>
                   <div id="responseConfirm" class="hidden">
                       <p>We're glad you signed up to receive updates! We will be sending you information as we are able.</p>
                   </div>
                   <div id="responseExisting" class="hidden">
                       <p>You've already signed up to receive updates! We will be sending you information as we are able.</p>
                   </div>
              </div>
           </div>
        </div>
  </section>
{% endblock  %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#subscribe').click(function (e) {
                e.preventDefault();
                $(this).hide();
                $('#subscribeForm').fadeIn();
            });

            $('#subscribeConfirm').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/food_security/subscribe/",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        'name': $('#id_name').val(),
                        'email': $('#id_email').val()
                    },
                    success: function (result) {
                        if (result.success === true) {
                            $('#subscribeForm').hide();
                            $('#prompt_email_signup').hide();
                            console.log(result);
                            if (result.existing_email === true) {
                               $('#responseExisting').fadeIn()
                            }
                            else if (result.existing_user === false) {
                                $('#createAccountForm').fadeIn()
                            } else {
                                $('#responseConfirm').fadeIn()
                            }
                        } else {
                            alert(result.errors)
                        }
                    }
                })
            });

            $('#noThanks').on('click', function(e) {
                e.preventDefault();
                $('#createAccountForm').hide();
                $('#responseConfirm').fadeIn()
            });

            $('#newAccount').on('click', function(e) {
                e.preventDefault();
                 $.ajax({
                    url: "/quick_signup/",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        'email': $('#id_email').val(),
                        'password': $("#id_password").val()
                    },
                    success: function(result) {
                        if (result.success === true) {
                            $('#createAccountForm').hide();
                            $('#responseConfirm').fadeIn()
                        } else {
                            alert(result.error)
                        }
                    }
                 })
            })

        });
    </script>
{% endblock %}
