{% extends 'siteframe.html' %}
{% load home_tags %}
{% block top_section %}
    <h4 class="mb-4">
        <strong>Sign In</strong>
    </h4>
    <form class="logout" method="POST" action="/accounts/logout/">{% csrf_token %}
        <div class="form-group">
            <p>
                Are
            </p>
            <p>
                <button type="submit" class="btn btn-dark next">Sign In</button><br>
                <a class="" href="/accounts/password/reset/">Forgot Password?</a>
            </p>
        </div>
      </form>
{% endblock %}

{% block main %}{% endblock %}