{% extends 'siteframe_static.html' %}

{% load static %}
{% load i18n %}

{% block stylesheets %}
    <link href="{% static 'css/checkbox.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="flex flex-col gap-6 items-center pt-8" style="background: white; min-height: calc(100vh - 296px);">
    <form class="login form" method="POST" action="/accounts/login/">{% csrf_token %}
            {% csrf_token %}
            <div class="text-gray-800 text-sm flex flex-col gap-5 items-center">
                <div>
                    <div class="text-2xl border-b pb-2 text-center text-black">{% translate "Log In to Dashboard" %}</div>
                    <div class="errorlist" style="color:darkred">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {{ form.non_field_errors }}
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="id_username">{% translate "Phone Number or Email Address" %}:</label>
                    <input class="border p-1 w-60" type="text" name="username" placeholder="" autofocus="autofocus" required id="id_username">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="id_password">{% translate "Password" %}</label>
                    <input class="border p-1 w-60" type="password" name="password" placeholder="" required id="id_password">
                </div>

                <div>
                    <label class="checkbox-container text-sm" for="id_allows_contact" style="font-size: 14px; padding-top: 3px;">
                        {% translate "Keep me signed in:" %}
                        <input type="checkbox" name="allows_contact" id="id_allows_contact" checked>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex flex-row">
                        <button type="submit" class="btn btn-dark next">{% translate "Log In" %}</button><br>
                    </div>
                     <div style="margin-top: 12px;">
                         <a class="text-blue-400" href="/accounts/password_reset/">{% translate "Forgot Password?" %}</a>
                     </div>
                    <div style="margin-top: 12px;">
                        {% blocktranslate %}
                            Don't have an account? Please <a class="text-blue-400" href="/accounts/signup">create one here.</a>
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
          </form>
        </div>
{% endblock %}

{% block main %}{% endblock %}