{% extends 'siteframe_static.html' %}

{% load static %}
{% load i18n %}

{% block stylesheets %}
    <link href="{% static 'css/checkbox.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Signup - Listen To Shafter{% endblock %}

{% block content %}

      <div class="flex flex-col gap-6 items-center" style="background: white; min-height: calc(100vh - 296px);">
        <div class="font-title text-4xl py-8 border-b">{% translate "Why participate in our community surveys?" %}</div>

          <div class="flex flex-col md:flex-row justify-center gap-6">

            <div class="border flex border-indigo-600 flex-col w-52 gap-3 p-4">
                <div class="bg-indigo-600 text-white px-4 py-2 text-center font-bold">{% translate 'Be Heard!' %}</div>
                <div class="flex flex-row justify-center">
                    <svg class="self-center h-14 w-14 my-1 rounded-full p-3 bg-indigo-600 text-white " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" clip-rule="evenodd"></path></svg>
                </div>
                <div class="flex flex-col h-full justify-center">
                    <div class="text-xs text-indigo-600 pb-2">
                        {% blocktranslate %}
                            This is your chance to share what you think about Shafter
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
            <div class="border border-yellow-700 flex flex-col w-52 gap-3 p-4">
                <div class="bg-yellow-700 text-white px-4 py-2 text-center font-bold">{% translate 'Help Out!' %}</div>
                <div class="flex flex-row justify-center">
                    <svg class="self-center h-14 w-14 my-1 rounded-full p-3 bg-yellow-700 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
                </div>
                <div class="flex flex-col h-full justify-center">
                    <div class="text-xs text-yellow-700 pb-2">
                        {% blocktranslate %}
                            Listen To Shafter will advise community leaders and structure activities based on your responses.
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
          <div class="border border-pink-800 flex flex-col w-52 gap-3 p-4">
                <div class="bg-pink-700 text-white px-4 py-2 text-center font-bold">{% translate 'Change Things' %}</div>
              <div class="flex flex-row justify-center">
                <svg class="self-center h-14 w-14 my-1 rounded-full p-3 bg-pink-800 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
              </div>
              <div class="flex flex-col h-full justify-center">
                <div class="text-xs text-pink-800 pb-2">
                    {% blocktranslate %}
                        Let's work together to figure out the best plan for Shafter's future.
                    {% endblocktranslate %}
                </div>
              </div>
            </div>
        </div>

      <div class="w-full lg:w-5/12 py-5 px-16 border-t">
        <form class="signup form" method="POST" action="{% url 'account_signup' %}" style="margin-bottom: 42px;">
            {% csrf_token %}
            <div class="text-gray-800 text-sm flex flex-col gap-5 items-center">
                <div>
                    <div class="text-lg text-center text-black">{% translate "Create Account" %}</div>
                    <div class="errorlist" style="color:darkred">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {{ form.non_field_errors }}
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="id_username">{% translate "Phone Number or Email Address" %}:</label>
                    <input class="border p-1 w-60" type="text" name="username" placeholder="" autofocus="autofocus" required id="id_username">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="id_password1">{% translate "Password" %}</label>
                    <input class="border p-1 w-60" type="password" name="password1" placeholder="" required id="id_password1">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="id_password2"> {% translate "Repeat Password:" %}</label>
                    <input class="border p-1 w-60" type="password" name="password2" placeholder="" required id="id_password2">
                </div>
                <div>
                    <label class="checkbox-container text-sm" for="id_allows_contact" style="font-size: 14px; padding-top: 3px;">
                        {% translate "Please alert me of available surveys via SMS or Email:" %}
                        <input type="checkbox" name="allows_contact" id="id_allows_contact" checked>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex flex-row">
                        <button type="submit" class="btn btn-dark next">{% translate "Sign Up" %}</button><br>
                    </div>
                    <div style="margin-top: 12px;">
                        {% blocktranslate %}
                            Already have an account? Please <a class="text-blue-400" href="/accounts/login">sign in here.</a>
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
          </form>
      </div>

    </div>
{% endblock  %}
