{% extends 'siteframe_static.html' %}
{% load static %}

{% block extra_css %}
    <script src="https://cdn.tiny.cloud/1/frh61ytndunky5pnvu8am6eb0xc348nlite8ihhd8v2zv34t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block content %}
    <p></p>

    <h3 class="h3 text-center mb-5 section-title">
        <span class="prev"><i class="fas fa-arrow-left"></i></span>
        <span class="date">{{ view.date_str }}</span>
        <span class="next"><i class="fas fa-arrow-right"></i></span>
    </h3>

    <iframe id="messageFrame" src ="{% url "admin:newsletter_message_preview_html" view.message_id %}" width="960px" height="720px" data-message="{{ view.message_id }}"></iframe>

    <!-- Text Modal -->
    <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mb-4" id="textModalLabel" style="text-align: center">Enter Text</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
{#              <label class="survey-label" for="text-input"></label>#}
                <textarea rows="5" name="text-input" class="form-control" id="textInput" data-location=""></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-black" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn btn-dark save text">Save</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mb-4" id="imageModalLabel" style="text-align: center">Enter URL</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
{#              <label class="survey-label" for="text-input"></label>#}
                <input type="text" name="image-input" class="form-control" id="imageInput" data-location=""></input>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-black" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn btn-dark save image">Save</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script src="https://cdn.tiny.cloud/1/frh61ytndunky5pnvu8am6eb0xc348nlite8ihhd8v2zv34t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          toolbar_mode: 'floating',
       });
    </script>
    <script>
      tinymce.init({
          selector: 'textarea',
          plugins: 'link',
          toolbar_mode: 'floating',
       });
      $(document).on('focusin', function(e) {
            if ($(event.target).closest(".tox-dialog").length) {
                e.stopImmediatePropagation();
            }
        });
    </script>
    <script>
    $(document).ready(function() {

        $("#messageFrame").bind("load",function(){
            $(this).contents().find(".textFields").each(function(index) {
                var obj_id = $(this).attr('id');
                index = 0;
                $(this).contents().find('tr').each(function() {
                    var index_data = obj_id + "-" + index.toString();
                    $(this).attr("id", index_data);
                    index += 1
                });
                index=0;
            });
            $("#messageFrame").contents().find('.editable').css("cursor", "pointer");
            $("#messageFrame").contents().find('.editable').bind('click', function(){
                console.log('fire');
                var indexID = $(this).attr('id');
                console.log(indexID);
                if (indexID.includes('img')) {
                    $('#imageInput').data('location', indexID).val($(this).attr('src'));
                    $('#imageModal').modal('show');
                } else if (indexID.includes('intro')) {
                    $('#textInput').data('location', indexID)
                    tinymce.activeEditor.setContent($(this).find(':first').find(':first').html());
                    $('#textModal').modal('show');
                } else {
                    $('#textInput').data('location', indexID)
                    tinymce.activeEditor.setContent($(this).children(':nth-child(3)').html());
                    $('#textModal').modal('show');
                }
            });
        });

        $('.save').click(function() {
            var $inputFld;
            var input;
            if ($(this).hasClass('text')) {
                $inputFld = $('#textInput')
                input = tinymce.activeEditor.getContent()
            } else {
                $inputFld = $('#imageInput')
                input = $inputFld.val()
            }

            $.ajax({
                url: "/modify_newsletter/",
                type: "POST",
                dataType: 'json',
                data: {
                    messageID: $('#messageFrame').data('message'),
                    section: $inputFld.data('location'),
                    text: input
                },
                success: function() {
                    location.reload()
                }
            });
        })

    })
    </script>

{% endblock %}