{% extends 'siteframe_static.html' %}

{% block content %}
<div class="flex flex-row">
    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>

    <div>
        <div class="flex-row justify-end bg-gray-200 p-2 text-xs">
            <span>For Press Inquiries:</span>
            <a class="underline" href="contact@listentoshafter.org">contact@listentoshafter.org</a>
        </div>

        <div class="flex flex-col p-4 gap-4 bg-white md:p-12 md:flex-row ">
            <div class="flex flex-col gap-4 md:w-3/4">
                <div class="flex flex-row justify-between">
                    <div class="pb-1 border-b text-xl md:text-3xl">Recent</div>
                    <a href="{% url "Blog:index" %}" class="text-black border border-black flex items-center p-2 shadow text-xs cursor-pointer hover:bg-gray-100">View All</a>
                </div>

                <div class="flex flex-col gap-1">
                    <h3 class="text-xl">
                        {{ view.blog_post.title }}
                    </h3>
                    <span class="text-xs"> {{ view.blog_post.author }}</span>
                </div>

                <p class="text-sm">{{ view.blog_post.body|safe }}</p>

                <div class="border"></div>

                <div class="flex flex-col gap-4">

                    <div class="flex flex-row justify-between">
                        <div class="pb-1 border-b text-xl md:text-3xl">The Shafter Listener</div>
                        <a class="text-black border border-black flex items-center p-2 shadow text-xs cursor-pointer hover:bg-gray-100" href="/newsletters/">View All</a>
                    </div>

                    <div class="flex flex-col gap-2 items-center">
                        <a class="text-blue-600 text-2xl border-b pb-2" href="{% url 'view_newsletter' view.recent_newsletters.0.slug %}">{{ view.recent_newsletters.0.title }}</a>
                        {% for issue in view.recent_newsletters.1 %}
                            <a class="text-blue-600" href="{% url 'view_newsletter' issue.slug %}">{{ issue.title }}</a>
                        {% endfor %}
                    </div>

                    <div class="border"></div>

                </div>

              </div>

            <div class="md:w-1/4 border">
                <a class="twitter-timeline" data-height="1000" data-width="1000" href="https://twitter.com/listentoshafter?ref_src=twsrc%5Etfw">Tweets by listentoshafter</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <div class="md:w-1/3 bg-white bg-opacity-75"></div>
</div>
{% endblock %}