{% extends 'siteframe_static.html' %}
{% load generic %}

{% block content %}
<div class="flex flex-row">
    <div class="md:w-1/3 bg-white bg-opacity-75 flex flex-col gap-4"></div>

    <div class="bg-white p-5 md:w-1/ w-full " style="min-height: 100vh">
        <div class="my-4 text-xl flex flex-row justify-around">
            <h2 class="md:text-2xl underline">The Shafter Listener Archive</h2>
        </div>
        {% for year, batch in view.messages.items  %}
            <div class="mt-10 mb-2 border-b pb-2 text-lg font-bold">{{ year }}</div>
            <div class="flex flex-col gap-4 flex-wrap">
            {% for item in batch %}
                <div class="text-lg">
                    <a href="{% url 'view_newsletter' item|get_from_dict:'slug'  %}" class="text-blue-400">
                        {{ item|get_from_dict:'title' }}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="md:w-1/3 bg-white bg-opacity-75"></div>
</div>
{% endblock %}