{% extends 'siteframe.html' %}
{% load static %}
{% load home_tags %}

{% block extra_css %}
    <link href="{% static 'css/backend.css' %}" rel="stylesheet">
    <link href="{% static 'css/slanted_button.css' %}" rel="stylesheet">
{% endblock %}

{% block remove-top %}{% endblock %}



{% block main %}

      <hr class="my-5">

      <!-- Intro -->
      <section class="mt-5 wow fadeIn">

        <div class="row">

        <div class="col-md-2 mb-4 col-sm-1"></div>
          <div class="col-md-8 mb-4 col-sm-10">
              <div class="text-center">
          <button id="langSwitch" class="skew-button" data-location="site"><span>{{ "Navegar en español"|translate_fixture:language }}</span></button>
              <h1 class="mb-2">
                <strong>{{ "Design your park with your neighbors!"|translate_fixture:language }}</strong>
              </h1>
              </div>
              <hr>
              <div class="text-center">
                  <p style="font-size: 25px;"><strong>{{ "Next Event"|translate_fixture:language }}</strong></p>
                  <p style="
                    font-size: 19px;
                    top: -19px;
                    position: relative;
                  ">{{ "Wed. Dec 2, 2020 from 3pm-5pm"|translate_fixture:language }}</p>
                  <p style="font-size: 22px;"><strong>Topic: </strong>{{ "Selecting a Concept"|translate_fixture:language }}</p>
                  <p style="
                    font-size: 19px;
                  ">{{ "Instead of attending, you may easily share your feedback online:"|translate_fixture:language }}</p>
                  <p style="
                    font-size: 19px;
                    top: -19px;
                    position: relative;
                  "><a href="https://www.surveymonkey.com/r/WQQT37Y">English</a> | <a href="https://www.surveymonkey.com/r/WTKKPGJ">Español</a></p>
                  <hr>
                <span style="font-size: 26px; margin-bottom: 6px"><a id="regTrigger" href="#">{{ "Click Here to Register"|translate_fixture:language }}</a></span><br>
                  <span style="font-size: 18px;">{{ "Or text (661) 379-0223"|translate_fixture:language }} </span><br>
                <span style="font-size: 16px; margin-bottom: 12px;">{{"Please provide your name and your preferred time slot (3:00, 3:30, 4:00...)"|translate_fixture:language}}</span>
                <hr>
                </p>
             </div>
            </div>
        </div>



{#        {% block top_section %}#}
{#            <div id="question" {% if view.responded %}style="display: none"{% endif %}>#}
{#              <h4 class="mb-4">#}
{#                <strong>{{ view.question|translate_weekly:language }}</strong>#}
{#              </h4>#}
{#              <form id="weekly">#}
{#                  <div class="form-group">#}
{#                      <textarea rows="6" class="form-control" id="answer" name="text"></textarea>#}
{#                  </div>#}
{#              </form>#}
        {#              <button type="button" class="btn btn-outline-black prev">Go Back</button>#}
{#              <button id="submitWkly" type="button" class="btn btn-dark next">{{"Submit"|translate_fixture:language}}</button>#}
{#            </div>#}
{#            <div id="confirm" {% if not view.responded %}style="display: none"{% endif %}>#}
{#                <p>{{"Thanks for your input!"|translate_fixture:language}}</p>#}
{#            </div>#}
{#        {% endblock %}#}

      </section>
            <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="createSurveyModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <form id="registrationForm">
                      <div class="form-group">
                        <label for="name">{{ "Full Name"|translate_fixture:language }}</label>
                        <input type="text" class="form-control"  id="name" name="name">
                      </div>

                      <div class="form-group">
                        <label for="contact_info">{{ "Phone # or Email"|translate_fixture:language }}</label>
                        <input type="text" class="form-control"  id="contact_info" name="contact_info">
                      </div>

                      <div class="form-group">
                        <label for="time_slot">{{ "Select Time"|translate_fixture:language }}</label>
                        <select class="form-control" id="time_slot" name="time_slot">
                          <option>3:00</option>
                          <option>3:30</option>
                          <option>4:00</option>
                          <option>4:30</option>
                          <option>5:00</option>
                          <option>5:30</option>
                          <option>6:00</option>
                        </select>
                      </div>
                  </form>

                  <div id="regConfirm" style="display: none">
                      <h3>{{ "Thank You!"|translate_fixture:language }}</h3>
                      <p> {{ "See you on Wednesday!"|translate_fixture:language }}</p>
                  </div>

              <div class="modal-footer">
                <div id="step1">
                    <button type="button" class="btn btn-white btn-md" data-dismiss="modal">{{ "Cancel"|translate_fixture:language }}</button>
                    <button type="button" class="btn btn-grey btn-md" id="regBtn">{{ "Submit"|translate_fixture:language }}</button>
                </div>
                <div id="step2" style="display: none">
                    <button type="button" class="btn btn-white btn-md" data-dismiss="modal">{{ "Close"|translate_fixture:language }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
{% endblock  %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/changeLanguage.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#submitWkly').click( function() {
                $.ajax({
                    url: "/surveys/record_weekly/",
                    type: "POST",
                    dataType: 'json',
                    data: $('#weekly').serialize(),
                    success: function (result) {
                        if (result.success === true) {
                            $('#question').slideUp();
                            $('#confirm').show()
                        } else {

                        }
                    }
                })
            });

            $('#regTrigger').click(function() {
                $('#registrationModal').modal('show')
            });

            $('#regBtn').click(function() {
                $.ajax({
                    url: "/record_registration_data/",
                    type: "POST",
                    dataType: 'json',
                    data: $('#registrationForm').serialize(),
                    success: function (result) {
                        if (result.success === true) {
                            $('#registrationForm').hide();
                            $('#step1').hide();
                            $('#regConfirm').show();
                            $('#step2').show()
                        } else {
                            alert('Registration failed!')
                        }
                    }
                })
            })

        });
    </script>
{% endblock %}