{% extends 'siteframe_static.html' %}

{% block content %}

<div class="flex p-4 flex-row bg-white">

<div class="md:w-1/5"></div>

<div class="md:w-3/5">

    <!-- Title -->
    <div class="flex flex-col gap-3">
        <div class="flex flex-row text-3xl md:text-5xl justify-around py-5 border-b border-t border-black">The Shafter Listener</div>
        <div class="flex flex-row relative justify-around">
            <div class="bottom-3 bg-white relative bottom-7 px-4 text-lg">{{ view.contents.title }}</div>
        </div>
    </div>

    <!-- Intro -->
    <div class="flex flex-col gap-3">
        <p>{{ view.contents.intro }}</p>
        <p>As always, if you haven't yet, please take a few minutes to respond to our anonymous <a class="text-blue-600" href="https://www.shaftersurvey.org">community surveys</a>!</p>
    </div>

    <!-- First -->
    <div class="flex flex-col gap-3 mt-9">
        <h2 class="pb-3 border-b text-xl uppercase">What We're Working On</h2>
        <div class="flex flex-col md:flex-row justify-around md:justify-between gap-5">
            <ul class="flex flex-col gap-3 md:w-6/12" style="list-style-type: circle;list-style-position: inside;">
                {% for p in view.contents.first %}
                    <li class="">{{ p|safe }}</li>
                {% endfor %}
            </ul>
            <div class="md:w-5/12 flex flex-row justify-around items-center">
                <img src="{{ view.contents.firstImg }}" />
            </div>
        </div>
    </div>

    <!-- Second -->
    <div class="flex flex-col gap-3 mt-9">
        <h2 class="pb-3 border-b text-xl uppercase">What We're Inspired By</h2>
        <div class="flex flex-col md:flex-row justify-around md:justify-between gap-5">
            <div class="md:w-5/12 flex flex-row justify-around items-center">
                <img src="{{ view.contents.secondImg }}" />
            </div>
            <ul class="flex flex-col gap-3 md:w-6/12" style="list-style-type: circle;list-style-position: inside;">
                {% for p in view.contents.second %}
                    <li>{{ p|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Third -->
    <div class="flex flex-col gap-3 my-9">
        <h2 class="pb-3 border-b text-xl uppercase">What We're Dreaming Of</h2>
        <ul class="flex flex-col gap-3" style="list-style-type: circle;list-style-position: inside;">
            {% for p in view.contents.third %}
                <li>{{ p|safe }}</li>
            {% endfor %}
        </ul>
    </div>



</div>

<div class="md:w-1/5"></div>


</div>

{% endblock %}