{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}Listen To Shafter{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Karla:wght@200;300;500&display=swap" rel="stylesheet">

    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>
<body class="font-karla tracking-wider bg-fixed bg-cover bg-center" style="background-image: url({% static 'img/mural.JPG' %});">

<!-- Upper Header -->
<div class="bg-black text-white flex flex-row justify-between px-4 py-2 items-center sticky top-0 z-50" id="header">
    <img src="{% static 'img/svg/logo.svg' %}" style="filter: invert(1)" class="h-14" />
    <div id="menuBtnFrame" class="md:invisible cursor-pointer" onclick="showMenu()"><svg id="menuBtn" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg></div>
    <div id="menu" class="
        font-light items-center
        flex flex-col absolute right-0 bg-black p-4 top-0 invisible bg-gray-700
        md:relative md:flex-row md:gap-5 md:p-0 md:visible md:bg-transparent
    ">
        {% if user.is_staff %}
        <a href="{% url 'staff' %}" class="bg-white hover:bg-indigo-300 rounded cursor-pointer select-none py-2 px-5 bg-indigo-200 text-black">Staff</a>
        {% endif %}
        <a href="{% url 'about' %}" class="text-white hover:text-yellow-300 cursor-pointer select-none p-4">{% translate 'About' %}</a>
        <div class="text-white hover:text-yellow-300 cursor-pointer select-none p-4">{% translate 'Projects' %}</div>
        <a class="text-white hover:text-yellow-300 cursor-pointer select-none p-4" href="/news/">{% translate 'News' %}</a>
        {% if user.is_authenticated %}
            <a href="/accounts/logout/" class="text-white hover:text-yellow-300 cursor-pointer select-none p-4">{% translate 'Log Out' %}</a>
            <a class="p-2 bg-white text-black rounded hover:bg-gray-100 font-bold" href="{% url 'dashboard' %}">{% translate 'My Dashboard' %}</a>
        {% else %}
            <a href="/start_survey/" class="hype_link select-none"><span>{% translate "Take the survey!" %}</span></a>
        {% endif %}
    </div>
</div>


{% block content %}{% endblock %}


  <div class="flex flex-col" style="background-color:#1C2331">

    <!--Call to action-->
    <div class="flex flex-row justify-center gap-4 text-white py-8">
{#      <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">#}
{#        <i class="fa fa-download ml-2"></i>#}
{#      </a>#}
      <a id="survey-btn" class="text-white border-2 py-4 px-6 uppercase text-xs" href="{% if user.is_authenticated %}/dashboard/{% else %}/accounts/signup/{% endif %}" target="_blank" role="button">
          {% translate "Take the survey!" %}
        <i class="fa fa-marker ml-2"></i>
      </a>
      <a id="blog-btn" class="text-white border-2 py-4 px-6 uppercase text-xs " href="{% url "Blog:latest_post" %}" target="_blank" role="button">
          {% translate "Read Our Blog" %}
        <i class="fab fa-readme ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <!-- Social icons -->
    <div class="pb-4 flex flex-row text-white gap-5 justify-center mt-8">
      <a class="text-white hover:text-yellow-400 cursor-pointer" href="https://www.facebook.com/Listen-to-Shafter-330078214288386/" target="_blank">
        <i class="fab fa-facebook fa-2x footer-icons"></i>
      </a>

      <a class="text-white hover:text-yellow-400 cursor-pointer" href="https://twitter.com/listentoshafter" target="_blank">
        <i class="fab fa-twitter fa-2x footer-icons"></i>
      </a>

      <a class="text-white hover:text-yellow-400 cursor-pointer" href="https://www.instagram.com/listentoshafter/" target="_blank">
        <i class="fab fa-instagram fa-2x footer-icons"></i>
      </a>

      <a class="text-white hover:text-yellow-400 cursor-pointer" href="/snapcode/" target="_blank">
        <i class="fab fa-snapchat fa-2x footer-icons"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-white flex flex-row justify-center gap-2 text-sm py-5" style="background-color: rgba(0,0,0,.2)">
        <span class="text-gray-400">© 2018 Copyright:</span>
      <a class="text-white" href="https://listentoshafter.org/" target="_blank">listentoshafter.org</a>
    </div>
    <!--/.Copyright-->
  </div>



<script>

// Select element with box class, assign to box variable
document.addEventListener("DOMContentLoaded", function(event) {
    let x = document.getElementById("menu");
    document.addEventListener("click", function(event) {
        if (event.target.id !== 'menuBtn' && event.target !== 'menuBtnFrame' && window.innerWidth < 767) {
            x.style.visibility = "hidden"
        }
})

});

function showMenu() {
  let x = document.getElementById("menu");
  if (x.style.display === "block" && window.innerWidth < 960) {
    x.style.visibility = "hidden";
  } else {
    x.style.visibility = "visible";
  }
}
</script>
{% block extra_js %}
{% endblock %}