{% load static %}

{% load home_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shafter Survey</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/survey.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/slanted_button.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>

<body>
{% block overlay %}{% endblock %}
{% block remove-header %}
<div class="logo">
    Listen to Shafter: <span class="fake-cursor"> |</span> <input class='secret_input' type="text" maxlength="40">
    <i id="sendSecret" class="far fa-paper-plane"></i>
    <span class="header_signup">
        {% block lang_hooks %}
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="header_action text-white">{{ "My Dashboard"|translate_fixture:language }}</a>
             |
            <a href="{% url 'account_logout' %}" class="header_action text-white">{{ "Logout"|translate_fixture:language }}</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="header_action text-white">{{ "Take the survey!"|translate_fixture:language }}</a>
             |
            <a href="{% url 'account_login' %}" class="header_action text-white">{{ "Login"|translate_fixture:language }}</a>
        {% endif %}
        {% endblock %}
    </span>
</div>
{% endblock remove-header %}

 <main id="main">

    <div class="container content">

      <hr class="my-5">

      <!-- Intro -->
      <section class="mt-5 wow fadeIn">

        <div class="row" style="display: flex; justify-content: center;">
          <button id="langSwitch" class="skew-button" data-location="site"><span>{{ "Navegar en español"|translate_fixture:language }}</span></button>
        </div>

        <div class="row">
          <div class="col-md-2 mb-4 col-sm-1"></div>
             <div class="col-md-8 mb-4 col-sm-10">
                <div class="text-center">
                  <h1 class="mb-2">
                      <strong>
                          {% block title %}{% endblock %}
                      </strong>
                  </h1>
                </div>
                <hr>
                <div class="page_content {% block div_class %}{% endblock %}">
                {% block main %}

                {% endblock main %}
              </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!--Main layout-->

{% block modals %}{% endblock %}

  <!--Footer-->
  {% block override_footer %}
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
{#      <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">#}
{#        <i class="fa fa-download ml-2"></i>#}
{#      </a>#}
      <a id="survey-btn" class="btn btn-outline-white" href="{% if user.is_authenticated %}/dashboard/{% else %}/accounts/signup/{% endif %}" target="_blank" role="button">{{ "Take the survey!"|translate_fixture:language }}
        <i class="fa fa-marker ml-2"></i>
      </a>
        {% if not language %}
          <a id="blog-btn" class="btn btn-outline-white" href="{% url "Blog:latest_post" %}" target="_blank" role="button">{{ "Read Our Blog" }}
            <i class="fab fa-readme ml-2"></i>
          </a>
        {% endif %}
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/Listen-to-Shafter-330078214288386/" target="_blank">
        <i class="fab fa-facebook fa-2x footer-icons"></i>
      </a>

      <a href="https://twitter.com/listentoshafter" target="_blank">
        <i class="fab fa-twitter fa-2x footer-icons"></i>
      </a>

      <a href="https://www.instagram.com/listentoshafter/" target="_blank">
        <i class="fab fa-instagram fa-2x footer-icons"></i>
      </a>

      <a href="/snapcode/" target="_blank">
        <i class="fab fa-snapchat fa-2x footer-icons"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://listentoshafter.org/" target="_blank">listentoshafter.org</a>
    </div>
    <!--/.Copyright-->

  </footer>
  {% endblock override_footer %}
  <!--/.Footer-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/changeLanguage.js' %}"></script>
    {% block extra_js %}{% endblock %}

    <script type="text/javascript">
      // Animations initializations
      function isMobileDevice() {
        return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
      }
      if (!isMobileDevice()) {
          new WOW().init();
      }

      document.onkeypress=function(e){
            if (!$('input, textarea').is(':focus') && $(window).width() > 600) {
                $('.secret_input').focus();
                $('.fake-cursor').hide();
                $('#sendSecret').show();
            }
        };

        $('.secret_input').click(function(){
            $('.fake-cursor').hide();
            $('#sendSecret').show();
        });

        $('#sendSecret').click(function(){
            $.ajax({
                url: "/submit_secret/",
                type: "POST",
                dataType: 'json',
                data: {'data': $('.secret_input').val()},
                success: function (result) {
                    if (result.success === true) {
                        $('#sendSecret').hide();
                        $('.secret_input').val('')
                    } else {

                    }
                }
            })
        })
    </script>
</body>

</html>
