{% load static %}

{% load home_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shafter Survey</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/survey.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>

<body>
{% block overlay %}{% endblock %}
{% block remove-header %}
<div class="logo">
    Listen to Shafter: <span class="fake-cursor"> |</span> <input class='secret_input' type="text" maxlength="40">
    <i id="sendSecret" class="far fa-paper-plane"></i>
    <span class="header_signup">
        {% block lang_hooks %}
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="header_action text-white">{{ "My Dashboard"|translate_fixture:language }}</a>
             |
            <a href="{% url 'account_logout' %}" class="header_action text-white">{{ "Logout"|translate_fixture:language }}</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="header_action text-white">{{ "Take the survey!"|translate_fixture:language }}</a>
             |
            <a href="{% url 'account_login' %}" class="header_action text-white">{{ "Login"|translate_fixture:language }}</a>
        {% endif %}
        {% endblock %}
    </span>
</div>
{% endblock remove-header %}
{% block remove-top %}
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="view" style="background-color: white; background-repeat: no-repeat; background-size: cover;">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center mx-5 wow fadeIn">
            {% block top_section %}
              <h4 class="mb-4">
                <strong>If all of Shafter was listening, what would you say?</strong>
              </h4>
              <form>
                  <div class="form-group">
                      <textarea rows="6" class="form-control" id="weeklyQuestion"></textarea>
                  </div>
              </form>
{#              <button type="button" class="btn btn-outline-black prev">Go Back</button>#}
              <button id="submit" type="button" class="btn btn-dark next">Submit</button>
            {% endblock top_section %}
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev" id="prevBtn">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next" id="nextBtn">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock remove-top %}

 <main id="main">

    <div class="container content">
      {% block main %}
      <!--Section: Main info-->
      <hr class="my-5">
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
{#          <div class="col-md-6 mb-4">#}
{##}
{#            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half" alt="">#}
{##}
{#          </div>#}
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4"></div>
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">What is this?</h3>
            <p>
                Listen to Shafter is non-profit community benefit organization dedicated to facilitating an improved
                common understanding of the people who live and work in Shafter.
            </p>
            <p>
                We are seeking to build a rich data profile of our community to help evaluate and guide high-impact
                decision-making across all of its sectors.
            </p>
            <p>
                We need your help to accomplish this! If you live or work in Shafter, please create an account in order
                to participate in upcoming studies.
            </p>

            <!-- CTA -->
            <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-grey btn-md">Sign Up
              <i class="fa fa-user-plus ml-1"></i>
            </a>
            <a target="_blank" href="https://mdbootstrap.com/components/" class="btn btn-grey btn-md">Donate
              <i class="fa fa-donate ml-1"></i>
            </a>
            <a target="_blank" href="https://mdbootstrap.com/components/" class="btn btn-grey btn-md">Reach Out
              <i class="fa fa-comments ml-1"></i>
            </a>
          </div>
          <!--Grid column-->

        </div>
        <div class="col-md-3 mb-4"></div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">Our Work</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Left column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-cubes fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Catalogue and celebrate community assets.</h5>
                <p class="grey-text">What's so great about Shafter? We want to make sure we understand the answer to this question
                so that none of our strengths are under-utilized.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-people-carry fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Identify and respond to community hardships and service gaps.</h5>
                <p class="grey-text">
                    A crucial component of citizenship is taking an honest look at existing pain points among our neighbors and
                    responding to them appropriately.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-bullhorn fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Amplify and respond to marginalized voices.</h5>
                <p class="grey-text">
                    The hardest voices to hear are sometimes the most informative. A special effort is
                    required to make sure everyone gets a chance to speak.
                </p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Left column-->


          <!--Right column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-landmark fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Enhance the capacity of public & civic sectors.</h5>
                <p class="grey-text">
                    Any work being done in the community can always benefit from better information! Our methodology is
                    designed to arm local leaders with crucial data.
                </p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-bezier-curve fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Coordinate and catalyze local talent and resources.</h5>
                <p class="grey-text">
                    Sometimes an introduction is all it takes. If you have a special passion or talent that you'd like
                    to contribute to the benefit of our town, please come meet with us!
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="far fa-building fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Engage and strengthen local businesses.</h5>
                <p class="grey-text">Local businesses are an important part of a healthy community. We are excited to
                hear what ours in Shafter have to say!</p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Right column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

{#      <hr class="my-5">#}

      <!--Section: Not enough-->
{#      <section>#}
{##}
{#        <h2 class="my-5 h3 text-center">Not enough?</h2>#}
{##}
{#        <!--First row-->#}
{#        <div class="row features-small mb-5 mt-3 wow fadeIn">#}
{##}
{#          <!--First column-->#}
{#          <div class="col-md-4">#}
{#            <!--First row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">Free for personal and commercial use</h6>#}
{#                <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well as commercial projects.#}
{#                </p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/First row-->#}
{##}
{#            <!--Second row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">400+ UI elements</h6>#}
{#                <p class="grey-text">An impressive collection of flexible components allows you to develop any project.#}
{#                </p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Second row-->#}
{##}
{#            <!--Third row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">600+ icons</h6>#}
{#                <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Third row-->#}
{##}
{#            <!--Fourth row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">Fully responsive</h6>#}
{#                <p class="grey-text">It doesn't matter whether your project will be displayed on desktop, laptop, tablet or mobile phone. MDB#}
{#                  looks great on each screen.</p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Fourth row-->#}
{#          </div>#}
{#          <!--/First column-->#}
{##}
{#          <!--Second column-->#}
{#          <div class="col-md-4 flex-center">#}
{#            <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">#}
{#          </div>#}
{#          <!--/Second column-->#}
{##}
{#          <!--Third column-->#}
{#          <div class="col-md-4 mt-2">#}
{#            <!--First row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">70+ CSS animations</h6>#}
{#                <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your project and delight your visitors.#}
{#                </p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/First row-->#}
{##}
{#            <!--Second row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">Plenty of useful templates</h6>#}
{#                <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Second row-->#}
{##}
{#            <!--Third row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">Easy installation</h6>#}
{#                <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.#}
{#                </p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Third row-->#}
{##}
{#            <!--Fourth row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-check-circle fa-2x indigo-text"></i>#}
{#              </div>#}
{#              <div class="col-10">#}
{#                <h6 class="feature-title">Easy to use and customize</h6>#}
{#                <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep customization. You will#}
{#                  easily adjust each component to suit your needs.</p>#}
{#                <div style="height:15px"></div>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Fourth row-->#}
{#          </div>#}
{#          <!--/Third column-->#}
{##}
{#        </div>#}
{#        <!--/First row-->#}
{##}
{#      </section>#}
      <!--Section: Not enough-->
{##}
{#      <hr class="mb-5">#}
{##}
{#      <!--Section: More-->#}
{#      <section>#}
{##}
{#        <h2 class="my-5 h3 text-center">...and even more</h2>#}
{##}
{#        <!--First row-->#}
{#        <div class="row features-small mt-5 wow fadeIn">#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2 pl-3">#}
{#                <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>#}
{#                <p class="grey-text mt-2">Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves all browsers; all browsers love MDB.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-level-up fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">Frequent updates</h5>#}
{#                <p class="grey-text mt-2">MDB becomes better every month. We love the project and enhance as much as possible.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-comments-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">Active community</h5>#}
{#                <p class="grey-text mt-2">Our society grows day by day. Visit our forum and check how it is to be a part of our family.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">jQuery 3.x</h5>#}
{#                <p class="grey-text mt-2">MDB is integrated with newest jQuery. Therefore you can use all the latest features which come along with#}
{#                  it.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#        </div>#}
{#        <!--/First row-->#}
{##}
{#        <!--Second row-->#}
{#        <div class="row features-small mt-4 wow fadeIn">#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">Modularity</h5>#}
{#                <p class="grey-text mt-2">Material Design for Bootstrap comes with both, compiled, ready to use libraries including all features as#}
{#                  well as modules for CSS (SASS files) and JS.</p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">Technical support</h5>#}
{#                <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to contact us.#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">Flexbox</h5>#}
{#                <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#          <!--Grid column-->#}
{#          <div class="col-xl-3 col-lg-6">#}
{#            <!--Grid row-->#}
{#            <div class="row">#}
{#              <div class="col-2">#}
{#                <i class="fa fa-file-code-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>#}
{#              </div>#}
{#              <div class="col-10 mb-2">#}
{#                <h5 class="feature-title font-bold mb-1">SASS files</h5>#}
{#                <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>#}
{#              </div>#}
{#            </div>#}
{#            <!--/Grid row-->#}
{#          </div>#}
{#          <!--/Grid column-->#}
{##}
{#        </div>#}
{#        <!--/Second row-->#}
{##}
{#      </section>#}
      <!--Section: More-->

    </div>
     {% endblock main %}
  </main>
  <!--Main layout-->

  <!--Footer-->
  {% block override_footer %}
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
{#      <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">#}
{#        <i class="fa fa-download ml-2"></i>#}
{#      </a>#}
      <a id="survey-btn" class="btn btn-outline-white" href="{% if user.is_authenticated %}/dashboard/{% else %}/accounts/signup/{% endif %}" target="_blank" role="button">{{ "Take the survey!"|translate_fixture:language }}
        <i class="fa fa-marker ml-2"></i>
      </a>
        {% if not language %}
          <a id="blog-btn" class="btn btn-outline-white" href="{% url "Blog:latest_post" %}" target="_blank" role="button">{{ "Read Our Blog" }}
            <i class="fab fa-readme ml-2"></i>
          </a>
        {% endif %}
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/Listen-to-Shafter-330078214288386/" target="_blank">
        <i class="fab fa-facebook fa-2x footer-icons"></i>
      </a>

      <a href="https://twitter.com/listentoshafter" target="_blank">
        <i class="fab fa-twitter fa-2x footer-icons"></i>
      </a>

      <a href="https://www.instagram.com/listentoshafter/" target="_blank">
        <i class="fab fa-instagram fa-2x footer-icons"></i>
      </a>

      <a href="/snapcode/" target="_blank">
        <i class="fab fa-snapchat fa-2x footer-icons"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://listentoshafter.org/" target="_blank">listentoshafter.org</a>
    </div>
    <!--/.Copyright-->

  </footer>
  {% endblock override_footer %}
  <!--/.Footer-->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    {% block extra_js %}{% endblock %}

    <script type="text/javascript">
      // Animations initializations
      function isMobileDevice() {
        return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
      }
      if (!isMobileDevice()) {
          new WOW().init();
      }

      document.onkeypress=function(e){
            if (!$('input, textarea').is(':focus') && $(window).width() > 600) {
                $('.secret_input').focus();
                $('.fake-cursor').hide();
                $('#sendSecret').show();
            }
        };

        $('.secret_input').click(function(){
            $('.fake-cursor').hide();
            $('#sendSecret').show();
        });

        $('#sendSecret').click(function(){
            $.ajax({
                url: "/submit_secret/",
                type: "POST",
                dataType: 'json',
                data: {'data': $('.secret_input').val()},
                success: function (result) {
                    if (result.success === true) {
                        $('#sendSecret').hide();
                        $('.secret_input').val('')
                    } else {

                    }
                }
            })
        })

      $("body").on("submit", "form", function() {
        $(this).submit(function() {
            return false;
        });
        return true;
      });

    </script>
</body>

</html>
