{% extends 'siteframe.html' %}

{% load static %}
{% load home_tags %}

{% block top_section %}

    <h3>{{ "Add Listen To Shafter on Snapchat!"|translate_fixture:language }}</h3>
    <div class="img-frame" >
        <img src="{% static 'img/snapcode.png' %}" style="width: 152px; text-align: center; margin: 0 auto; display: block; padding-top: 21px"/>
    </div>

{% endblock %}

{% block main %}{% endblock %}
