{% extends 'siteframe_static.html' %}
{% load static %}

{% block content %}

    <div class="bg-white h-screen select-none">
        <div class="p-4 flex flex-col gap-12 lg:p-12">
            <div class="font-title text-2xl border-b pb-3">
                Tools:
            </div>

            <div class="flex flex-row gap-8 flex-wrap justify-around">

                <a href="{% url 'Survey:manage' %}" class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        Surveys
                    </div>
                </a>

                <div class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        Projects
                    </div>
                </div>


                <div class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />

                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        Networks
                    </div>
                </div>

                <a href="{% url 'Blog:drafts' %}" class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        Blog
                    </div>
                </a>


                <div class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        Newsletter
                    </div>
                </div>


                <div class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        QOTW
                    </div>
                </div>

            </div>



            <div class="font-title text-2xl border-b pb-3">
                Updates:
            </div>


            <div class="flex flex-row gap-8 flex-wrap justify-around">

                <div class="w-36 h-36 flex flex-col border p-4 items-center justify-around shadow select-none hover:bg-gray-100 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-gray-600 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    <div class="text-gray-600 font-bold border-t pt-4">
                        New Topic
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}