{% extends 'siteframe_static.html' %}

{% load static %}
{% load i18n %}
{% load translation_tags %}

{% block title %}{% translate "Shafter Survey" %}{% endblock %}

{% block content %}
<div class="h-full flex flex-col items-center" style="background: #f3eeea;">

    <div class="shadow">
        <img src="{% static 'img/survey_banner.png' %}">
    </div>

    <div class="flex flex-row justify-center gap-6 border-b w-1/2 text-white w-full text-center p-7 shadow text-xl " style="background: #388ba6">
        <p class="w-96">
            {% blocktrans %}
            If you have a survey code, please enter it here to participate or see the results:
            {% endblocktrans %}
        </p>
        <form>{% csrf_token %}</form>
        <div class="flex flex-row justify-center items-center">
            <input id="surveyCode" type="text" class="border focus:outline-none p-2 text-gray-700 h-12 rounded-none">
            <button onclick="loadSurvey()" class="items-center px-3 flex flex-row gap-2 text-white h-12 border rounded-none hover:bg-gray-600 bg-gray-500">
                {% translate 'Enter' %}
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </button>
        </div>


    </div>

    <div class="p-10 my-10 w-2/3 flex flex-col gap-4 border bg-white text-lg gap-10">
        <div class="flex flex-col p-6 bg-gray-100 gap-5">
            <div class="font-title text-2xl text-center ">
                {% blocktranslate %}
                View your dashboard to participate in our community-wide research project!
                {% endblocktranslate %}
            </div>
            <div class="flex flex-row justify-center space-x-4">
                <a class="btn bg-black text-white" href="/accounts/signup/">
                    {% translate "Create My Account" %}
                </a>
                <a class="btn bg-white text-black" href="/accounts/login/">
                    {% translate "Log In" %}
                </a>
            </div>
        </div>

        <div class="flex flex-col gap-10">


            <div class="flex flex-col gap-2">
                <div class="font-bold">
                    {% blocktranslate %}
                    What is the purpose of this study?
                    {% endblocktranslate %}
                </div>
                <div class="text-sm">
                    {% blocktranslate %}
                    There are many decisions being made every day within the halls of Shafter's government, civic clubs
                    and among third party donors and contributors about how to allocate resources within the community. We
                    are trying to build a data profile that will help everyone obtain a better understanding of the people
                    who live and work in Shafter. This is all being undertaken in pursuit of more impactful and more
                    equitable outcomes in Shafter's growth and development.
                    {% endblocktranslate %}
                </div>
            </div>


            <div class="flex flex-col gap-2">
                <div class="font-bold">
                    {% blocktranslate %}
                    Who will be reading my answers?
                    {% endblocktranslate %}
                </div>
                <div class="text-sm">
                    {% blocktranslate %}
                    Your answers will be reviewed by our designated research team. However, your answers will not be
                    connected to any other information that could be used to identify you and they will not be read in
                    succession with your other answers. All responses will be kept anonymous. Contact information that
                    you choose to share with us will be used only by our computer system to invite you to participate in
                    further studies that may be relevant to you.
                    {% endblocktranslate %}
                </div>
            </div>


            <div class="flex flex-col gap-2">
                <div class="font-bold">
                    {% blocktranslate %}
                    What will be done with this information?
                    {% endblocktranslate %}
                </div>
                <div class="text-sm">
                    {% blocktranslate %}
                    If we reach our goal of 250 responses, we will put together a report which will be available here on
                    our website for anyone to download and review. We will also deliver a copy of the report to city
                    council and staff, local civic clubs, and other concerned parties who are doing relevant work in Shafter.
                    {% endblocktranslate %}
                </div>
            </div>


            <div class="flex flex-col gap-2">
                <div class="font-bold">
                    {% blocktranslate %}
                    Will my answers be published on your website?
                    {% endblocktranslate %}
                </div>
                <div class="text-sm">
                    {% blocktranslate %}
                    In order to protect your privacy, your individual written answers will not be made publicly
                    available. Instead, our research team will identify themes within your answers which will then be
                    used in an aggregate analysis of the data to be made available for public use. If raw data is ever
                    requested or delivered, it will only include these identified themes and not your written answers
                    themselves.
                    {% endblocktranslate %}
                </div>
            </div>


            <div class="flex flex-col gap-2">
                <div class="font-bold">
                    {% blocktranslate %}
                    Who is eligible to participate?
                    {% endblocktranslate %}
                </div>
                <div class="text-sm">
                    {% blocktranslate %}
                    We invite anyone who lives or works in Shafter to participate in this study.
                    {% endblocktranslate %}
                </div>
            </div>


        </div>

    </div>


</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
<script>
    let surveyCodeFld = document.getElementById("surveyCode");

    function loadSurvey() {
        let surveyCode = surveyCodeFld.value

        $.ajax({
           url: "{% url 'Surveys:accept_code' %}",
           type: "POST",
           dataType: 'json',
           data: {code: surveyCode},
           success: function (result) {
               if (result.success === true) {
                   window.location.href = result.target
               } else {
                   alert(result.message)
               }
           }
       });
    }

    surveyCodeFld.addEventListener("keyup", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        loadSurvey()
      }
    });




</script>

{% endblock %}