{% load static %}
{% load l10n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block pageTitle %}{% endblock %} - Listen To Shafter</title>
    <link rel="stylesheet" href="{% static "css/tailwind.css" %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Karla:wght@200;300;500&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    <script>
    {% autoescape off %}
    window.rootData = {
        csrfToken: 'csrftoken',
        projects: null,
        urlpaths: {}
    }
    {% endautoescape %}
    </script>

    {% block rootData %}{% endblock %}

</head>
<body class="font-body">
    <div class="bg-black text-white flex flex-row px-4 py-2 items-center sticky top-0 z-50">
        <div class="text-xl">Listen To Shafter:</div>
    </div>

    <div id="{% block appName %}{% endblock %}" class="flex flex-row flex-none" style="height:calc(100vh - 44px)"></div>

    {% render_bundle 'chunk-vendors' %}
    {% render_bundle view.app_name %}


</body>
</html>