<!-- Section modal -->

<div class="modal fade" id="createSectionModal" tabindex="-1" role="dialog" aria-hidden="true" data-section="0">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div id="mainForm">

              <div class="form-group">
                <label for="chooseDisplay">Select Configuration</label>
                <select class="form-control" id="chooseConfiguration">
                  <option value="announcement">Announcement (Centered Text)</option>
                  <option value="information">Information (Left-Aligned Text)</option>
                  <option value="event">Event</option>
                  <option value="registration">Event Registration</option>
                  <option value="webinar">Webinar</option>
                </select>
              </div>

              <div class="form-group">
                <label for="newSectionTitle">Enter Title</label>
                <input type="text" class="form-control"  id="newSectionTitle">
              </div>

              <div class="form-group">
                <label for="newSectionTitleTranslation">Enter Title Translation</label>
                <input type="text" class="form-control"  id="newSectionTitleTranslation">
              </div>

          </div>
          <div id="eventForm" class="event-form" style="display: none;">
                <div id="existingEventForm" {% if object.events %}style="display: none;"{% endif %}>
                    <div class="form-group">
                        <label for="chooseDisplay">Select Type</label>
                        <select class="form-control" id="chooseDisplay">
                         {% for event in object.events.all %}
                            <option value="{{ event.id }}">{{ event.name }} {{ event.start }}</option>
                         {% endfor %}
                        </select>
                    </div>
                </div>
               <div id="newEventForm" {% if not object.events %}style="display: none;"{% endif %}>

                   <form id="newEvent">

                        <div class="form-group row">
                          <label for="name" class="col-2 col-form-label" >Name</label>
                          <div class="col-10">
                            <input class="form-control" type="text"  id="name" name="name" maxlength="48">
                          </div>
                        </div>

                       <div class="form-group row">
                          <label for="topic" class="col-2 col-form-label" >Topic</label>
                          <div class="col-10">
                            <input class="form-control" type="text"  id="topic" maxlength="48">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="start" class="col-2 col-form-label">Begins</label>
                          <div class="col-10">
                            <input class="form-control" type="datetime-local"  id="start">
                          </div>
                        </div>

                       <div class="form-group row">
                          <label for="end" class="col-2 col-form-label">Ends</label>
                          <div class="col-10">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="end">
                          </div>
                        </div>

                       <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="registration">
                            Enable Attendee Registration
                          </label>
                        </div>

                      <div class="form-group row">
                          <label for="registration_url" class="col-2 col-form-label">Outside Registration URL</label>
                          <div class="col-10">
                            <input class="form-control" type="url" id="registration_url">
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="registration_details" class="col-2 col-form-label" >Extra Registration Details</label>
                          <div class="col-10">
                            <input class="form-control" type="text"  id="registration_details" maxlength="512">
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="instructions" class="col-2 col-form-label" >Additional Instructions</label>
                          <div class="col-10">
                            <input class="form-control" type="text"  id="instructions" maxlength="512">
                          </div>
                      </div>

                   </form>

               </div>

          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-white btn-md" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-grey btn-md" id="addSectionBtn">Add</button>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Content Modal -->

<div class="modal fade" id="createContentModal" tabindex="-1" role="dialog" aria-labelledby="createSurveyModalLabel" aria-hidden="true" data-section="0">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div id="mainForm">

              <div class="form-group">
                <label for="chooseDisplay">Select Type</label>
                <select class="form-control" id="chooseDisplay">
                  <option value="title">title</option>
                  <option value="paragraph">paragraph</option>
                  <option value="bullet">bullet</option>
                  <option value="image">image</option>
                  <option value="embedded_code">embedded code</option>
                </select>
              </div>

              <div class="form-group">
                <label for="newItemText">Enter Text</label>
                <input type="text" class="form-control"  id="newItemText">
              </div>

              <div class="form-group">
                <label for="newItemTranslation">Enter Translation</label>
                <input type="text" class="form-control"  id="newItemTranslation">
              </div>

          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-white btn-md" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-grey btn-md" id="addItemBtn">Add</button>
        </div>

      </div>
    </div>
  </div>
</div>