{% extends 'siteframe_static.html' %}

{% block content %}

<div class="flex flex-row bg-white">
    <div class="border-r w-1/4"></div>
    <div class="flex flex-col">

        <div class="flex flex-row">
            <h3>Little Free Library Network</h3>
        </div>

        <div>

        </div>
    </div>
    <div class="border-l w-1/4"></div>
</div>

{% endblock %}
