{% extends 'siteframe_static.html' %}

{% load static %}
{% load i18n %}
{% load translation_tags %}

{% block content %}

<div class="h-full bg-fixed bg-cover bg-center font-karla" style="background-image:url({% static 'photo/about_header.jpeg' %})">
    <div class="h-96"></div>
    <div class="flex flex-col justify-center">

        <div class="py-12 bg-gray-900 text-center text-3xl text-white border-t-2 border-gray-800 flex flex-col items-center">
            <h3 class="w-10/12 md:w-3/4">
                "Dreams" Mural Project
            </h3>
        </div>

        <div class="bg-white flex flex-col py-8 md:flex-row justify-around">

            <!-- Main Content -->
            <div class="flex flex-col gap-14 md:w-7/12 justify-around items-center">

                <div class="flex flex-col text-xl">
                    The "Shafter Dreams" Mural is an art installation planned for the corner of James and Central Ave that was imagined by a handful of Jr. High
                    girls as colorful mural that depicts the possibilities in store for Shafter's students as they entered and exited the Learning Center. Painted
                    artist Lorena Castillo in 2021, it stands as a symbol of the potential for our youth.
                </div>

                <div class="flex flex-col w-full gap-4">
                    <div class="flex flex-row justify-between">
                        <div class="text-xl border-b pb-1">Latest Update</div>
                        <div class="border px-3 py-2 hover:bg-gray-100 cursor-pointer">View All</div>
                    </div>
                    <div class="text-sm">
                        <p>The Shafter Dreams Mural project was initiated by five 3rd and 4th grade Shafter Learning Center students in October 2019. We have since been working with them and their families to provide oversight and fundraising support to bring their vision to fruition. We approached the proprietor, La Hacienda Market, to secure the space for the mural’s installation and brought in local artist, Lorena Castillo, to come up with the design. Additional partners on this project include: Arts Council of Kern, City of Shafter, Shafter Learning Center, Ebeneezer Reformed Church, Target, Rotary, GAF, and the Wonderful Co.</p>
                        <p>The five students who sparked the idea for this project have been involved in the mural process all along the way.  Because this mural was proposed to be located in the downtown core of the City, it required City Council approval.  In order to secure this approval, the students presented to the Shafter City Council at their March 2020 council meeting.</p>
                        <p>Due to the pandemic, the students were unable to solicit feedback in person at the proposed Dia Del Nino event in March 2020 as they had planned, but were instead able to use Listen to Shafter’s social media channels to gather community ideas.  Once the feedback was collected and a job description posted, the students reviewed the submitted designs and read through resumes in order to select a muralist to bring their dream to life.</p>
                        <p>After gathering the proposals, the students selected Lorena Castillo to be the artist who would execute their vision. Lorena painted her first mural at the age of sixteen and has a number of them on display around Santa Cruz county. We are glad to have her expertise and local knowledge brought to this project and the students are thrilled to get to work with her.  Lorena began work on the wall on Monday, March 29th and is now putting the finishing touches on it.</p>
                        <p>We are so proud of the dedication of these five Shafter Learning Center students and families to this mural project!  When we encourage our local students to embrace the Shafter Learning Center’s motto of “Have Dreams”, it should come as no surprise to us that their dreams will have a positive impact on our community.  We are also thrilled that through this process we have discovered a very talented and passionate local muralist in Lorena Castillo.  Without the dream of these five students, Lorena would not have had this opportunity to share her gifts with us!</p>
                        <p>If you are interested in learning more about this project or if you would like to see more murals around town, please reach out to us and we will add your contact information to our public art mailing list.</p>
                    </div>
                </div>

                <div class="hidden md:flex flex-col w-full gap-4">
                    <div class="flex flex-row justify-between">
                        <div class="text-xl border-b pb-1">Gallery</div>
                        <div class="border px-3 py-2 hover:bg-gray-100 cursor-pointer">View All</div>
                    </div>
                </div>

            </div>

            <!-- Action Items -->
            <div class="flex flex-col md:w-3/12 gap-3">

                <div class="border py-4 px-6 cursor-pointer hover:bg-gray-100">
                    <div class="flex flex-row gap-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-3xl text-blue-800">Action Plan</div>
                            <div class="text-xs text-black">Review the plan for this project and discover how you can get involved.</div>
                        </div>
                    </div>
                </div>
                <div class="border py-4 px-6 cursor-pointer hover:bg-gray-100">
                    <div class="flex flex-row gap-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-3xl text-blue-800">Subscribe</div>
                            <div class="text-xs text-black">Receive the latest updates for this project in your email inbox.</div>
                        </div>
                    </div>
                </div>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=S6PXTEXMBEW3S&source=url" class="border py-4 px-6 cursor-pointer hover:bg-gray-100">
                    <div class="flex flex-row gap-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-3xl text-blue-800">Donate</div>
                            <div class="text-xs text-black">Help speed up our progress with your tax-deductible donation.</div>
                        </div>
                    </div>
                </a>
                <div class="border py-4 px-6 cursor-pointer hover:bg-gray-100">
                    <div class="flex flex-row gap-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
                    </svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-3xl text-blue-800">Send Comment</div>
                            <div class="text-xs text-black">Have something to say? We'd love to hear your feedback, be it positive or negative.</div>
                        </div>
                    </div>
                </div>
                <div class="block md:hidden border py-4 px-6 cursor-pointer hover:bg-gray-100">
                    <div class="flex flex-row gap-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-3xl text-blue-800">Gallery</div>
                            <div class="text-xs">See some of the pictures that have been taken of this project in action.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}