<p>If you are interested in learning more about this project or would like to support us in any way, please reach out to us at contact@listentoshafter.org</p>
<p id="prompt_email_signup">If you'd like to receive occasional reports about our progress click "Keep Me Posted" to receive email updates.</p>
<div class="text-center">
    <a id="subscribe" href="" class="btn btn-dark next">Keep Me Posted!</a>
</div>
<div id="emailSignup" class="email-signup" data-project="{{ object.slug }}">
   <form id="subscribeForm" class="signup hidden" method="POST" style="text-align: center">
      <div class="form-group">
        <p>
            <label for="id_name">Name:</label><br>
            <input type="text" name="username" placeholder="" autofocus="autofocus" required id="id_name">
        </p>
        <p>
            <label for="id_email">Email Address:</label><br>
            <input type="email" name="email" placeholder="" required id="id_email">
        </p>
      </div>
       <button id="subscribeConfirm" type="submit" class="btn btn-dark next">Sign Up</button>
   </form>
   <form class="hidden" style="text-align: center" id="createAccountForm">
        <div class="form-group">
          <p>Enter a password if you would like to create an account with Listen To Shafter using this email address: <span id="submittedEmail"></span></p>
          <p>
{#                        <label for="id_password">Password</label><br>#}
              <input type="password" name="password" placeholder="" required id="id_password">
          </p>

          <button type="" id="newAccount" class="btn btn-dark next">Create Account</button>
          <button type="" id="noThanks" class="btn btn-light cancel">No Thanks</button>
      </div>
    </form>
   <div id="responseConfirm" class="hidden">
       <p>We're glad you signed up to receive updates! We will be sending you information as we are able.</p>
   </div>
   <div id="responseExisting" class="hidden">
       <p>You've already signed up to receive updates! We will be sending you information as we are able.</p>
   </div>
</div>