<div class="contact-frame">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="contact-name">{{ object.name }}</h5><br>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-12">
            <h5 class="section-title contact">Contact Info</h5>
            <span class="contact-title">Ph: </span><span class="contact-info">{{ object.phone }}</span>
            <span class="contact-title"> Email: </span><span class="contact-info">{{ object.email }}</span>
            <span class="contact-title">Address: </span><span class="contact-info">{{ object.address }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h5 class="section-title contact">Priorites</h5>
            <span class="contact-info">Food Security</span><br>
            <span class="contact-info">Education</span><br>
            <span class="contact-info">Environment</span>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="contact-details">
                <h5 class="section-title contact">Relations</h5>
                <p class="contact-detail">Sister to Rafael Gomez</p>
                <p class="contact-detail">Daughter of Cristina Gomez</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="contact-details">
                <h5 class="section-title contact">Activity</h5>
                <p class="contact-detail">Attended Food Security Planning Event C</p>
                <p class="contact-detail">Responded to Food Security Survey</p>
            </div>
        </div>
    </div>
    <div class="row" id="contactAction">
        <a href="#" class="btn btn-dark btn-md" id="emailContact" data-contact="">Email Contact</a>
        <a href="#" class="btn btn-dark btn-md" id="smsContact" data-contact="">SMS Contact</a>
    </div>
</div>
