{% extends 'siteframe.html' %}
{% load static %}
{% load home_tags %}

{% block extra_css %}
     <link href="{% static 'css/community.css' %}" rel="stylesheet">
{% endblock %}

{#{% block remove-header %}{% endblock %}#}
{% block remove-top %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12 text-center" style="padding: 0px;">
            <h3 id="pageTitle">Community Network Portal</h3>
        </div>
    </div>

    <div class="row" style="margin-top: 27px;">
        <!-- Filters -->
        <div class="col-sm-12 col-md-3 filter-frame">
            <h5 class="section-title" style="margin-top: 12px;">Filter Contacts:</h5>
            <label class="filter-label" for="projectFilter">By Project</label>
            <select name="projects" id="projectFilter" class="form-control">
                <option selected value="">Select Project</option>
                {% for project in view.projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
            <label class="filter-label" for="neighborhoodFilter">By Neighborhood</label>
            <select name="projects" id="neighborhoodFilter" class="form-control">
                <option selected value="">Select Neighborhoods</option>
                <option value="1">Barrio Norte</option>
                <option value="2">Tree Streets</option>
                <option value="3">Rodriguez Park</option>
            </select>
            <label class="filter-label" for="priorityFilter">By Priority</label>
            <select name="projects" id="priorityFilter" class="form-control">
                <option selected value="">Select Priority</option>
                <option value="1">Public Safety</option>
                <option value="2">Environment</option>
                <option value="3">Food Security</option>
            </select>
        </div>
        <!-- Summary -->
        <div class="col-sm-12 col-md-9">
            <div id="actionRow">
                <a href="#" id="bulkAdd" class="btn btn-dark float-right">Bulk Add</a>
                <a href="#" id="neighborhoods" class="btn btn-dark float-right">Neighborhoods</a>
            </div>
            <div class="summary">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h5 class="section-title">This Month</h5>
                        <ol>
                            <li>James Robinson</li>
                            <li>Jack Taylor</li>
                            <li>Mark Rodriguez</li>
                            <li>Patricia Neufeld</li>
                            <li>Pat Mackenzie</li>
                        </ol>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h5 class="section-title">This Year</h5>
                        <ol>
                            <li>James Robinson</li>
                            <li>Jack Taylor</li>
                            <li>Mark Rodriguez</li>
                            <li>Patricia Neufeld</li>
                            <li>Pat Mackenzie</li>
                        </ol>
                    </div>
                    <a href="#" id="viewAll" class="btn btn-dark col-sm-12">View All</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="page-divide">
    <div class="row contacts">
        <!-- Manage Contact -->
        <div class="col-sm-12 col-md-4" id="search_frame">
            <h5 class="section-title search">Search/Add</h5>
            <form id="addPerson">
               <div class="form-group col-md-10">
                  <label class="filter-label" for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name">
               </div>
                <div class="form-group col-md-10">
                  <label class="filter-label" for="name">Phone</label>
                  <input type="text" name="phone" class="form-control" id="phone">
               </div>
                <div class="form-group col-md-10">
                  <label class="filter-label" for="name">Email</label>
                  <input type="email" name="email" class="form-control" id="email">
               </div>
                <div class="form-group col-md-10">
                  <label class="filter-label" for="name">Address</label>
                  <input type="text" name="address" class="form-control" id="address">
               </div>
               <div class="form-group col-md-10">
                  <label class="survey-label" for="project">Link to Project</label>
                  <select name="project" id="project" class="form-control">
                    <option selected value="">Select Projects</option>
                    {% for project in view.projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                  </select>
               </div>
                <a href="#" class="btn btn-dark submit" id="contactSubmit" data-contact="">Add Contact</a>
            </form>
        </div>

        <!-- Filtered Contacts -->
        <div class="col-sm-12 col-md-8" id="contactFilterResults">
            <p>No Matching Contacts</p>
        </div>
    </div>

{% endblock main %}
{% block override_footer %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/contacts/portal.js' %}"></script>
{% endblock extra_js %}