<script>
import {ref} from 'vue'

export default {
  name: "AuthForm",
  props: {
    errors: Object,    // { formLabel: errMsg }
  },
  emits: ['submitForm'],
  setup(props, ctx) {
    const form = ref("")
    const data = ref({
      username: "",
      password: "",
      password2: ""
    })

    function sendData() {
      const payload = {
        form: form.value,
        data: data.value,
      }
      ctx.emit('submitForm', payload)
    }

    return {form, data, sendData}
  }
}

</script>

<template>
  <div class="flex flex-col items-center">
    <div class="flex flex-row gap-6 justify-center">
      <button v-translate @click="(form !=='sign_in' ? form='sign_in' : form=null)" class="btn btn-white" :class="{'bg-gray-400 text-white':form==='sign_in'}">Log In</button>
      <button v-translate @click="(form !=='sign_up' ? form='sign_up' : form=null)" class="btn btn-white" :class="{'bg-gray-400 text-white':form==='sign_up'}">Sign Up</button>
    </div>

      <div v-if="form==='sign_in'" class="bg-white flex flex-col gap-3 p-5 w-64 border-2 border-blue-400 m-4 items-center">
        <div class="text-red-600 text-center">{{errors.sign_in}}</div>
        <div class="flex flex-col">
          <label v-translate class="text-left" for="username">Email or Phone:</label>
          <input v-focus v-model="data.username" id="username" class="border p-1">
        </div>
        <div class="flex flex-col">
          <label v-translate class="text-left" for="password">Password:</label>
          <input v-model="data.password" type="password" id="password" class="border p-1">
        </div>

        <button
          @click="sendData"
          class="btn bg-blue-600 text-white border-blue-600 mt-2 w-28"
          style="background: #609efa; height: 39px; padding: 7px;"
          v-translate
        >
          Log In
        </button>
      </div>

      <div v-if="form==='sign_up'" class="bg-white flex flex-col gap-3 p-5 w-64 border-2 border-green-400 m-4 items-center">
        <div class="text-red-600 text-center">{{errors.sign_up}}</div>
        <div class="flex flex-col">
          <label v-translate class="text-left" for="new_username">Email or Phone:</label>
          <input v-focus v-model="data.username" id="new_username" class="border p-1">
        </div>
        <div class="flex flex-col">
          <label v-translate class="text-left" for="new_password1">Password:</label>
          <input id="new_password1" type="password" v-model="data.password" class="border p-1">
        </div>
        <div class="flex flex-col">
          <label v-translate class="text-left" for="new_password2">Repeat Password:</label>
          <input id="new_password2" type="password" v-model="data.password2" class="border p-1">
        </div>

        <button
          v-translate
          @click="sendData"
          class="btn bg-blue-600 text-white border-green-600 mt-2 w-28"
          style="background: rgb(48 177 130); height: 39px; padding: 7px;"
        >
          Sign Up
        </button>
      </div>

  </div>
</template>

<style>
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>

