<template>
<div class="flex flex-col gap-5 border p-4 mb-4">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <label>Name:</label>
      <input class="border-b focus:border-green-600 py-2 focus:outline-none" v-model="proposed.name" type="text">
    </div>
    <div class="flex flex-col">
      <label>Address:</label>
      <input class="border-b focus:border-green-600 py-2 focus:outline-none" v-model="proposed.address" type="text"></div>
    <div class="flex flex-col">
      <label>Phone:</label>
      <input class="border-b focus:border-green-600 py-2 focus:outline-none" v-model="proposed.phone" type="text"></div>
    <div class="flex flex-col">
      <label>Email:</label>
      <input class="border-b focus:border-green-600 py-2 focus:outline-none" v-model="proposed.email" type="text"></div>
  </div>
  <div class="flex flex-row justify-end">
    <button class="flex self-end bg-gray-200 mr-4 text-black text-sm py-2 px-4 focus:outline-none">Cancel</button>
    <button class="flex self-end bg-green-600 text-white text-sm py-2 px-4 focus:outline-none">Add</button>
  </div>
</div>
</template>

<script>
import {reactive} from 'vue';
import siteApi from "@/axios-site";

export default {
  name: "ContactForm",
  props: {
    pk: null
  },
  setup() {
    const proposed = reactive({
      pk: null,
      name: "",
      address: "",
      phone: "",
      email: "",
    })

    function manageContact() {
      siteApi.post(window.rootData.urlpaths.manageContact, proposed)
    }

    return {proposed, manageContact}
  }
}
</script>

<style scoped>

</style>