<script>
import {ref, watch, nextTick} from 'vue'
import siteApi from "@/axios-site";

export default {
  name: "Neighborhoods",
  setup() {
    const data = ref({})
    const addNew = ref(false)
    const proposed = ref("")
    const newInput = ref(null)
    const selected = ref(null)
    const editing = ref(null)

    watch(addNew, () =>{
      nextTick(() =>
        newInput.value.focus()
      )
    })

    async function loadData() {
      const response = await siteApi.post(window.rootData.urlpaths.getDistricts)
      console.log(response)
      data.value = response.data.object
    }
    loadData()

    function setSelected(pk) {
      if(!editing.value) {
        selected.value = pk
      }
    }

    function setEditing(pk, name) {
      editing.value = pk
      selected.value = pk
      proposed.value = name
    }

    async function submitNew() {
      const payload = {action: 'create', name: proposed.value, pk: 'new'}
      const response = await siteApi.post(window.rootData.urlpaths.manageDistrict, payload)
      data.value[response.data.object.id] = response.data.object
      addNew.value = false
    }

    async function submitUpdate(pk) {
      const payload = {action: 'update', name: proposed.value, pk: pk}
      const response = await siteApi.post(window.rootData.urlpaths.manageDistrict, payload)
      data.value[pk] = response.data.object
      editing.value = null
    }

    async function deleteNeighborhood(pk) {
      const payload = {action: 'delete', pk: pk}
      await siteApi.post(window.rootData.urlpaths.manageDistrict, payload)
      delete data.value[pk]
    }

    return {
      addNew, proposed, newInput, data, selected, editing,
      submitUpdate, submitNew, setSelected, setEditing, deleteNeighborhood
    }
  }
}
</script>

<template>
<div class="flex flex-row gap-6 p-4 mb-4 flex-wrap">
  <div
      v-for="(card, key) in data"
      :key=key
      @click="setSelected(key)"
      :class="{'bg-blue-100 border-blue-500 hover:border-blue-500': selected === key}"
      class="border flex flex-col p-4 relative hover:bg-blue-100 hover:border-blue-200 group cursor-pointer select-none"
  >
    <div v-if="editing === key">
      <input
          v-model='proposed'
          v-on:keyup.enter="submitUpdate(key)"
          v-focus
          type="text"
          class="font-bold py-2 border-b focus:border-green-400 focus:outline-none bg-blue-100"
          style="padding: 0"
      >
      <svg @click="submitUpdate(card.pk)" class="w-6 h-6 absolute top-1 right-0 text-green-400 p-0.5 cursor-pointer" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    </div>
    <h4 v-else class="text-center font-bold px-3 border-b">{{ card.name }}</h4>
    <a href="#" class="text-center text-xs mt-1">134 People Connected</a>
    <div class="text-md flex flex-col mt-2 px-4">
      <div class="text-sm flex flex-col ml-2">
        <a href="#">Litter Cleanup</a>
        <a href="#">Mural At 5th</a>
        <a href="#">Community Dialogue</a>
      </div>
    </div>
    <svg v-if="!editing || !editing===key" @click="setEditing(key, card.name)" class="w-6 h-6 absolute top-1 right-0 text-gray-400 p-0.5 cursor-pointer opacity-0 group-hover:opacity-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path></svg>
    <svg v-if="!editing || !editing===key" @click="deleteNeighborhood(key)" class="w-6 h-6 absolute top-1 left-0 text-gray-400 p-0.5 cursor-pointer opacity-0 group-hover:opacity-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
  </div>

  <div v-if="addNew" class="border flex flex-col p-4 relative">
    <div>
      <input
          v-model='proposed'
          v-on:keyup.enter="submitNew()"
          ref='newInput'
          type="text"
          class="font-bold py-2 border-b focus:border-green-400 focus:outline-none"
      >
      <svg @click="submitNew()" class="w-6 h-6 absolute top-1 right-0 text-green-400 p-0.5 cursor-pointer" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    </div>
  </div>

  <div v-else class="border flex flex-col p-4 relative cursor-pointer text-gray-300 hover:text-blue-300 hover:border-blue-300 hover:bg-blue-100">
    <h4 class="text-center p-8 text-xl" @click="addNew=true">
      <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"></path></svg>
    </h4>
  </div>

</div>

</template>

<style scoped>

</style>