.card {
    cursor: pointer;
    border-radius: 0;
    margin-top: 5px;
}
textarea.question-text {
    border: none;
    background: none;
    font-size: 21px;
    margin-bottom: 13px;
    width: 100%;
    height: 35px;
    min-height: 85px;
}
textarea.question-text:focus {
    outline: none;
    color: #0064ff;
}
textarea.intro-text {
    border: none;
    background: none;
    font-size: 17px;
    margin-bottom: 13px;
    width: 100%;
    height: 35px;
    min-height: 85px
}
textarea.intro-text:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.62);
}
select.question-type{
    width: 50%;
}
.btn-small {
    position: absolute;
    bottom: 3px;
    height: 35px;
    padding: 9px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.btn-small.updateBtn {
    right: 4px;
}
.btn-small.deleteBtn {
    right: 70px;
    color: white !important;
}

.builder-btn {
    margin: 0;
}
.builder-container {
    margin-top: 14px;
}
.addOptionInput {
    display: block;
    margin-bottom: 12px;
    width: 35%;
    padding: 6px;
}
.lang-btn {
    border: 1px solid;
    padding: 5px 13px;
    text-align: center;
    display: inline-block;
}
.lang-btn.active {
    background: #ababab;
}
.btn.review {
    color: white;
    background-color: #547c00;
    line-height: 16px;
}
.btn.review.disabled {
    background-color: #8a8b88;
}
.hidden {
    display: none;
}