.container.content {
    max-width: 740px;
}
.spacer {
    margin: 70px;
}
.post-detail {
    margin-top: 1px;
    font-size: 18px;
    margin-left: 4px;
    color: gray;
}
.row.post {
    margin-top: 22px;
    margin-left: -12px;
    font-size: 20px;
}
.row.actions {
    margin: 20px -21px 26px;
}
.row.featured-title {
    margin-top: 90px;
    margin-bottom: 16px;
    justify-content: center;
}
.row.featured {
    flex-wrap: inherit;
}
.post_link {
    display: flex;
    align-items: center;
    padding: 22px;
    border-left: 1px solid #eaeaea;
    max-width: 179px;
    height: 150px;
    cursor: pointer
}
.featured_post {
    min-width: 181px;
}