main {
    background: #4a4545;
}
.container.content {
    background: #f3f3f3;
    padding: 4px 37px;
}



#pageTitle {
    padding: 24px;
    font-size: 36px;
    background: #425d55;
    color: white;
    margin-top: 12px;
}
#actionRow {
    width: 100%;
        display: inline-table;
}
.filter-frame {
    background: #ddffc3;
    border: 8px solid #545454;
    border-radius: 14px;
}
.filter-label {
    padding-top: 6px;
    margin-bottom: 0;
}
.summary > .row {
    padding: 24px;
    border: 1px solid #dadada;
    margin-left: 19px;
}



.page-divide {
    margin-top: 65px;
    margin-bottom: 65px;
    border-color: #447164;
}



.row.contacts {
    background: gainsboro;
    margin-top: 22px;
    padding: 12px;
}
#search_frame {
    background: #b5b5b5;
    padding: 14px;
}
.section-title.search {
    color: #ffffff;
    margin-left: 15px;
}
.contact-name {
    border-bottom: 1px solid #d8d8d8;
}
.contact-frame {
    border: 1px solid #eae3e3;
    padding: 12px;
    box-shadow: 2px 4px 4px 0px #8e8e8e;
    background: white;
    margin-bottom: 7px;
}
.section-title.contact {
    font-size: 13px;
    text-transform: uppercase;
    color: gray;
}
span.contact-title {
    font-weight: 600;
}
span.contact-info {
    margin-right: 22px;
}
.contact-detail {
    margin-bottom: 2px;
    font-size: 15px;
}
#contactSubmit {
    position: relative;
    left: 16%;
}
#contactAction {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-top: 12px;
    border-top: 1px solid #c7c7c7;
    padding-top: 7px;
}