.hype_link {
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
 }
 .hype_link span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.4s;
 }
 .hype_link span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: -17px;
   right: -20px;
   transition: 0.5s;
   font-size: 34px;
 }
 .hype_link:hover span {
   padding-right: 25px;
 }
 .hype_link:hover span:after {
   opacity: 1;
   right: -5px;
 }