.heading {
    background: #ffffff;
    color: #535353;
    padding: 7px 57px;
    font-size: 26px;
    text-align: center;
}
li.bullet {
    font-size: 20px;
    padding: 12px;
}
.title {
    margin-top: 15px;
    border-bottom: 4px #d7d7d7 solid;
    padding-bottom: 16px;
}
.date-line {
    color: #575757;
    font-size: 21px;
}