@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
    background-color: white;
}
#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffffffd6;
    z-index: 100;
    display: none;
}
.fa-pulse {
    position: relative;
    top: calc(50% - 49px);
    margin-left: calc(50% - 43px);
    font-size: 121px;
    color: #4b4845a8;

}
#survey-title {
    padding-top: 10px;
    margin-bottom: 2px;
}

#question-text {
    font-size: 24px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

#answer-text {
    font-style: italic;
    font-size: 16px;
    margin-left: 12%;
    margin-right: 12%;
}

.complete {
    text-align: center;
}
.eval-left {
    border-right: 1px solid #e5e5e5;
}
.add-btn {
    padding: 5px 11px;
    top: -2px;
}
.add-btn.hidden {
    display: none !important;
}
.list-group {
    height: 250px;
    overflow-y: scroll;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}
.list-group-item.selected {
    background-color: #d6d6d6;
}
.suggestion-box {
    height: 250px;
}
#main.merge {
    background-color: #f49f31
}
#main.delete {
    background-color: #d33e2f
}
.list-group-item.merge, .list-group-item.delete {
    cursor: crosshair;
}
.list-group.special {
    cursor: crosshair;
}
.select-discussion {
    border: 1px solid #e0e0e0;
    border-bottom: none;
    padding: 3px 9px;
    position: relative;
    top: 16px;
    cursor: pointer;
}
.select-discussion.active {
    background: #737373;
    color: white;
}
.post-head {
    font-style: italic;
    font-size: 12px;
}
.post-text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding-top: 4px;
    margin-bottom: 10px;
}
.post-frame {
    border-bottom: 1px solid #e0e0e0;
}