.sectionFrame.add, .addItem {
    color: gainsboro;
    cursor: pointer;
}
.sectionFrame.add:hover, .addItem:hover {
    color: #846565;
}
.announcement {
    text-align: center;
}
.sectionBtns {
    justify-content: flex-end;
    display: flex;
}
.sectionBtns > i {
    padding: 4px;
    color: gray;
    cursor: pointer;
}
.disabled {
    cursor: default;
    color: white !important;
}
