.group-title {
    background: #e5e5e5;
    padding: 9px;
}

ul.researcher_list {
    list-style: none;
    margin: 1px;
    padding: 2px;
}

.researcher {
    border: 1px solid #c2c2c2;
    padding: 2px 11px;
    background-color: white;
    cursor: pointer;
}
.researcher.active {
    background-color: #8aa5c2;
}
#save{
    float: right;
    position: relative;
    bottom: 13px;
    background-color: #881717!important
}
.select {
    color: blue !important;
}
h5 {
    background: #747474;
    color: white;
    padding: 9px;
    margin-top: 32px;
    font-size: 15px;
}

h4 {
    text-align: center;
    font-size: 36px;
    border-bottom: 1px solid;
    padding: 13px;
}

.select_researcher_title {
    background: #cccccc;
    padding: 13px 0 11px 19px;
    font-size: 17px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 1px solid;
}

.select_researchers {
    border: 1px solid;
    background: #f3f3f3;
}