@import 'https://fonts.googleapis.com/css?family=Anton';
 /** {*/
	 /*box-sizing: border-box;*/
/*}*/
 /*html {*/
	 /*font-size: 62.5%;*/
/*}*/
 /*body {*/
	 /*height: 100vh;*/
	 /*background-color: #071432;*/
/*}*/
 /*.skew-button {*/
	 /*position: absolute;*/
	 /*left: 24%;*/
	 /*top: 50%;*/
/*}*/
 .skew-button {
    cursor: pointer;
    outline: none;
    /*transform: translate3d(-50%, -50%, 0);*/
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #938a1d;
}
 .skew-button span {
	 transform: translate3d(0, 0, 0);
	 backface-visibility: hidden;
	 position: relative;
	 display: block;
	 width: 100%;
	 height: 100%;
	 padding: 20px 50px;
	 z-index: 3;
}
 .skew-button:before, .skew-button span:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewX(-20deg);
    width: 80%;
    height: 42px;
    border: 1px solid #ebebeb;
    z-index: 2;
}
 .skew-button span:before {
	 display: block;
	 transform: translate(-50%, -50%) skew(-20deg);
	 transform-origin: center center;
	 z-indeX: -1;
}
 .skew-button:after {
	 transition: all 100ms ease-out;
	 content: '';
	 position: absolute;
	 left: 0;
	 top: 0;
	 transform: skewX(-20deg) scaleX(0);
	 width: 100%;
	 height: 100%;
	 background-color: rgba(118, 113, 103, 0.23);
	 border: 1px solid transparent;
	 z-index: 1;
}
 .skew-button:hover span:before {
	 animation: fill 0.5s ease-out;
	 animation-fill-mode: forwards;
}
 .skew-button:hover:after {
	 animation: swoosh 0.7s ease-in;
}
 .skew-button:focus {outline:0;}
 /*.skew-button:active:before {*/
	 /*background-color: #1b1903;*/
/*}*/
 @keyframes swoosh {
	 0% {
		 transform-origin: left center;
	}
	 20% {
		 transform: skewX(-20deg) scaleX(1);
		 transform-origin: left center;
	}
	 21% {
		 transform-origin: right center;
	}
	 50% {
		 transform: skewX(-20deg) scaleX(0);
		 transform-origin: right center;
	}
}
 @keyframes fill {
	 0% {
		 background-color: rgba(14, 56, 118, 0);
	}
	 20% {
		 opacity: 0.5;
		 border-width: 15px;
		 border-color: rgba(70, 72, 67, 0.32);
	}
	 100% {
		 opacity: 0.5;
		 border-width: 1px;
		 background-color: rgba(72, 72, 14, 0.11);
	}
}
