/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html, body, .view {
  height: 100%;
}
ul {
    list-style-type: none;
    padding: 0
}
.container.content {
    min-height: 72.1vh;
}
/* Full Page Carousel itself*/
.carousel {
  height: 100%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

.header_signup {
    float: right;
    font-size: 18px;
    color: white;
    margin-top: 4px;
}
.form {
    text-align: center;
    padding: 38px;
    border: 1px solid #e4e4e4;
}

.settings-form > input {
    margin-bottom: 12px;
}
.settings-form > form {
    margin-left: 7px;
}
.settings-form > .btn {
    margin-left: 0px;
}
.carousel-indicators {
    display: none;
}
/*.header_action {*/
    /*color*/
/*}*/

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #1C2331;
    position: relative;
}
.mb-4 {
    margin-top: 1.5rem !important;
}
.logo {
  padding: 10px;
  font-size: 24px;
  border-bottom: 1px solid gray;
  background-color: black;
  color:white;
}

.fake-cursor {
  animation: blinker .9s linear infinite;
}

.card-link {
    font-size: 17px;
}
.bullet-point {
    padding: 8px 0px
}
.secret_input {
    background: none;
    border: none;
    color: #beb6b6;
    font-weight: 100;
    width: 36vw;
    overflow: hidden;
}
.secret_input:focus {
    outline: none;
}
.hidden {
    display: none;
}
#sendSecret {
    display: none;
}
#sendSecret:hover {
    cursor: pointer;
    color: wheat;
}
#unlockBtn {
    padding: 5.5px 16px;
    top: -1px;
    right: 10px;
}
#unlockBtn:hover {
    background-color: #3a3a3a !important;
    box-shadow: none;
}
#unlockMsg {
    color: red;
    font-style: italic;
    display: none;
}
#unlockReveal, #unlockFrame {
    position: relative;
    top: 14px;
}
.footer-icons {
    padding: 0 8px;
}
.footer-icons:hover {
    color: deeppink;
}
#survey-btn:hover {
    border-color: #f3dd90 !important;
    color: #f3dd90 !important;
}
@keyframes blinker {
    0%{     color: white;    }
    49%{    color: white; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white;    }
}
@media screen and (max-width: 599px) {
    .secret_input {
        display: none !important;
    }
}
@media screen and (max-width: 412px) {
    .logo {
        font-size: 16px;
    }
    .header_signup {
        font-size: 13px;
        margin-top: 2px;
    }
    .skew-button span {
        font-size: .8rem !important;
    }
    .section-title {
        text-align: center;
        font-size: 1.5rem;
    }
    .btn-md {
        padding: .7rem .4rem !important;
        font-size: .6rem;
        margin: 1px;
    }
    .btn-row {
        text-align: center;
    }
    .feature-title {
        font-size: 1.1rem;
    }
    .grey-text {
        font-size: 0.9rem;
        margin-bottom: 44px;
    }
    .btn-row > p {
        margin-bottom: 1.4rem;
        font-size: 0.9rem;
    }
}
