@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  font-family: 'Karla', sans-serif;
}
.survey-label {
    height: 35% !important;
}
.btn-icon {
    margin-left: 6px !important;
}
.error {
    color: red;
    display: none;
}
.end-icon {
    padding: 6px;
    color: black;
}
.end-icon:hover {
    color: deeppink;
    cursor: pointer;
}
.choice-block {
    display: inline-block;
    text-align: left;
    padding-bottom: 18px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.date-label {
    font-size: 16px;
    color: gray;
}
.weekly {
    font-size: 18px;
    color: cornflowerblue;
    text-decoration: none;
}
.answer-text {
    font-size: 18px;
}
.btn-outline-secondary {
    border-color: #00000040 !important;
    color: #6b6969 !important;
    padding: 17px !important;
    background: #dadada !important;
    margin: 0 !important;
    box-shadow: none !important;
}
