<script>

import {inject, reactive} from "vue";
import VueTagsInput from '@sipec/vue3-tags-input';


export default {
  name: "QuestionForm",
  components: {VueTagsInput},
  props: ['data', 'index'],
  emits: ['closeForm'],
  setup(props, ctx) {
    const socket = inject('socket')
    const proposed = reactive({...props.data})
    const responseOptions = window.rootData.responseOptions
    const tagInputs = reactive({
      tags: "",
      options: "",
      translatedOptions: ""
    })

    const errorClasses = reactive({
      text: "",
      options: "",
      translation: "",
      translatedOptions: ""
    })

    const validate = () => {
      let invalidFields = []
      if (proposed.text.length < 5) {
        invalidFields.push('text')
      } else {errorClasses['text'] = ""}
      if (['select_one', 'select_multi'].includes(proposed.response_format)) {
        if (proposed.options.length < 2) {
          invalidFields.push('options')
        } else {errorClasses['options'] = ""}
        if (proposed.translatedOptions.length &&
            proposed.translatedOptions.length !== proposed.options.length
        ) {
          invalidFields.push('translatedOptions')
        } else {errorClasses['translatedOptions'] = ""}
        if (proposed.translatedOptions.length && !proposed.translation.length) {
          invalidFields.push('translation')
        } else {errorClasses['translation'] = ""}
      }
      return invalidFields
    }

    const submitForm = () => {
      const invalidFields = validate()
      if (invalidFields.length) {
        for(let f of invalidFields) {
          errorClasses[f] = "border border-red-400"
        }
      } else {
        ctx.emit('submit', proposed, props.index)
      }
    }

    return {
      socket, proposed, responseOptions, errorClasses, tagInputs,
      submitForm
    }
  }
}

</script>

<template>
    <div class="p-4 flex flex-col rounded h-25 gap-3">

      <div class="flex flex-col gap-1">
        <label class="uppercase text-sm">Question Text</label>
        <textarea :class="errorClasses.text" class="border p-2 focus:border-gray-400 focus:outline-none" v-model="proposed.text"></textarea>
      </div>

      <div class="flex flex-col gap-1">
        <label class="uppercase text-sm">Translated Text</label>
        <textarea
            v-model="proposed.translation"
            :class="errorClasses.translation"
            class="border p-2 focus:border-gray-400 focus:outline-none"
        ></textarea>
      </div>

      <div class="flex flex-row gap-2 select-none">
        <vue-tags-input
          class="w-full"
          allow-edit-tags
          v-model="tagInputs.tags"
          :tags="proposed.tags"
          @tags-changed="newTags => proposed.tags = newTags"
        />

        <select class="border p-2 text-sm w-40 h-11 focus:border-gray-400 focus:outline-none" v-model="proposed.response_format">
          <option
              v-for="(label, option) in responseOptions"
              :key="option"
              :value="option"
          >{{ label }}
          </option>
        </select>
      </div>
      <template v-if="['select_one', 'select_multi'].includes(proposed.response_format)">
      <div class="flex flex-col gap-1">
        <label class="uppercase text-sm">Options</label>
        <vue-tags-input
          :class="errorClasses.options"
          class="w-full"
          allow-edit-tags
          placeholder="Add Option"
          v-model="tagInputs.options"
          :tags="proposed.options"
          @tags-changed="newOptions => proposed.options = newOptions"
        />
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-sm">
          <span class="uppercase">Translated Options</span>
          <span class="text-xs text-gray-500">
            | Order must correspond with the options above.
          </span>
        </label>
        <vue-tags-input
          :class="errorClasses.translatedOptions"
          class="w-full"
          allow-edit-tags
          placeholder="Add Translation"
          v-model="tagInputs.translatedOptions"
          :tags="proposed.translatedOptions"
          @tags-changed="newOptions => proposed.translatedOptions = newOptions"
        />
      </div>
      </template>

      <div class="flex flex-row justify-end gap-4">
        <button
            @click="$emit('closeForm')"
            class="flex flex-row gap-2 items-center border px-6 py-2 pr-4 pl-1 hover:bg-gray-100">
          <svg class="w-8 h-8 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          Cancel
        </button>

        <button
            @click="submitForm()"
            class="flex flex-row items-center border px-5 py-2 hover:bg-gray-100 gap-2"
          >
          <svg class="w-7 h-7 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span class="">Save</span>
        </button>
      </div>

    </div>

</template>


<style scoped>

</style>