<script>

const textOptions = {
  0: 'This survey will be available to anyone who redeems the survey code.',
  1: 'This survey will be automatically available to anyone who is registered through the website.',
  2: 'This survey will be made available to registered users who enter the survey code',
  10: 'This survey will be automatically assigned to all registered users associated with this district.',
  20: 'This survey will be available to registered users associated with this district who enter the survey code.',
  100: 'This survey will be automatically assigned to all registered users associated with this project.',
  200: 'This survey will be available to registered users associated with this district who enter the survey code.',
  1000: 'This survey will be automatically assigned to all registered users associated with this population.',
  2000: 'This survey will be available to registered users associated with this population who enter the survey code.',
}

import {computed} from 'vue'

export default {
  name: "RecipientAnnouncement",
  props: {
    marker: Number, // Calculation for text selection.
  },
  setup(props) {

    const text = computed(() => {
      if (props.marker > -1) {
        return textOptions[props.marker]
      } else {
        return "<span class='text-red-400' >This survey will not be available to any participants!</span>"
      }
    })

    return {text}
  }
}
</script>


<template>
<div v-html="text" class="text-xs w-56 text-center self-center text-gray-400 ">

</div>
</template>

<style scoped>

</style>