<script>
import {reactive, ref, computed} from "vue";
import { DatePicker } from 'v-calendar';
import RecipientAnnouncement from "@/components/Builder/RecipientAnnouncement";

export default {
  name: "SurveyForm",
  components: {RecipientAnnouncement, DatePicker},
  emits: ['submit'],
  setup(props, ctx) {
    const segmentType = ref('1')
    const data = reactive(window.rootData.surveyData)
    const errorClasses = reactive({
      title: "",
      calendar_start: "",
      calendar_end: "",
      introduction: "",
    })
    const calendarConfig = {
      type: 'string',
      mask: 'iso'
    }

    const announcementMarker = computed(() => {
      let output = 0
      if (data.login_is_required) {
        if (data.survey_code.length > 0) {
          output = 2
        } else {
          output = 1
        }
      }
      else if (data.survey_code.length === 0){
        output = -1
      }
      return output * parseInt(segmentType.value)
    })

    function validate() {
      let invalidFields = []
      if (data.label.length < 5) {
        invalidFields.push('title')
      } else {errorClasses['title'] = ""}
      if (!data.date_range.start.length) {
        invalidFields.push('calendar_start')
      } else {errorClasses.calendar_start= ""}
      if (!data.date_range.end.length) {
        invalidFields.push('calendar_end')
      } else {errorClasses.calendar_end = ""}
      return invalidFields
    }

    function submitForm() {
      const invalidFields = validate()
      if (invalidFields.length) {
        for(let f of invalidFields) {
          errorClasses[f] = "border-red-400"
        }
      } else {
        ctx.emit('submit', data)
      }
    }

    return {
      data, segmentType, announcementMarker, errorClasses, calendarConfig,
      submitForm
    }
  }
}
</script>

<template>

      <div class="flex flex-col gap-6 border-b pb-6">

        <div class="flex flex-col gap-1">
          <label class="uppercase" for="label">Title</label>
          <input :class="errorClasses.title" class="border p-2 max-w-sm" v-model="data.label" id="label">
        </div>

        <div class="flex flex-col gap-1">
          <label class="uppercase" for="population">Study Population</label>
          <select class="border p-2 max-w-sm" v-model="segmentType">
            <option value="1">General / None Specified</option>
            <option value="10">By District</option>
            <option value="100">By Project</option>
            <option value="1000">Custom Population</option>
          </select>
        </div>

        <div class="h-16 flex flex-row w-9/12 justify-around" :class="{'hidden': segmentType !== '0'}">

        </div>

        <div :class="{'hidden': segmentType !== '1000'}" class="flex flex-col gap-1">
          <label class="uppercase" for="population">For Custom</label>
          <select class="border p-2 max-w-sm" v-model="data.population" id="population">
            <option selected disabled value="">Select Population</option>
            <option value="1">Zombies</option>
            <option value="2">Plants</option>
          </select>
        </div>

        <div :class="{'hidden': segmentType !== '10'}" class="flex flex-col gap-1">
          <label class="uppercase" for="district">For District</label>
          <select class="border p-2 max-w-sm" v-model="data.district" id="district">
            <option selected disabled value="">Select District</option>
            <option value="1">Zombies</option>
            <option value="2">Plants</option>
          </select>
        </div>

        <div :class="{'hidden': segmentType !== '100'}" class="flex flex-col gap-1">
          <label class="uppercase" for="project">For Project Participants</label>
          <select class="border p-2 max-w-sm" v-model="data.project" id="project">
            <option selected disabled value="">Select Project</option>
            <option value="1">Zombies</option>
            <option value="2">Plants</option>
          </select>
        </div>

        <div class="flex flex-col gap-1">
          <label class="uppercase">Open Dates</label>
          <DatePicker v-model="data.date_range" :modelConfig="calendarConfig" is-range>
            <template v-slot="{ inputValue, inputEvents }">
              <div class="flex items-center">
                <input
                  :value="inputValue.start"
                  v-on="inputEvents.start"
                  :class="errorClasses.calendar_start"
                  class="border p-2 w-44 rounded focus:outline-none focus:border-indigo-300"
                />
                <svg
                  class="w-4 h-4 mx-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
                <input
                  :value="inputValue.end"
                  v-on="inputEvents.end"
                  :class="errorClasses.calendar_end"
                  class="border p-2 w-44 rounded focus:outline-none focus:border-indigo-300"
                />
              </div>
            </template>
          </DatePicker>
        </div>

        <div class="flex flex-col gap-1">
          <label class="uppercase">Introduction Text</label>
          <textarea class="border p-2 max-w-sm text-sm" v-model="data.introduction" rows="8"></textarea>
        </div>

        <div class="flex flex-col gap-1">
          <label class="uppercase">Introduction Translation</label>
          <textarea class="border p-2 max-w-sm text-sm" v-model="data.intro_translation" rows="8"></textarea>
        </div>

        <div class="flex flex-col gap-1">
          <label class="uppercase" for="code">Survey Code</label>
          <input class="border p-2 max-w-sm" v-model="data.survey_code" id="code">
        </div>

        <div class="flex flex-row gap-3">
          <label class="container">Login Required
            <input class="checkbox" type="checkbox" id="login_is_required" v-model="data.login_is_required" />
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="h-16 flex flex-row justify-around">
          <RecipientAnnouncement
            :marker="announcementMarker"
            >
          </RecipientAnnouncement>
        </div>

        <div class="flex flex-row justify-around ">
          <button @click="submitForm()" class="flex flex-row items-center border py-2 px-3 gap-1 hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" /></svg>
            <span class="pt-1">Save</span>
          </button>
        </div>
      </div>
</template>



<style scoped>

</style>