{% extends 'siteframe_static.html' %}
{% load i18n %}

{% block content %}
<div class="flex flex-col gap-6 items-center" style="background: white; min-height: calc(100vh - 296px);">
    <div class="flex flex-col w-3/4 md:w-1/2 sm:w-1/3 gap-5">
         <h4 class="py-5 text-2xl border-b text-center">
            <strong>{% translate "Enter New Password" %}</strong>
        </h4>
        <p class="text-sm">
            {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <p class="text-sm">
            {% blocktranslate %}
               If you have not provided us with an email address, please contact us and we can recover your account for you.
            {% endblocktranslate %}
        </p>
        <form class="flex flex-col gap-2" method="post" class="password_reset">
            {% csrf_token %}
            <div class="errorlist" style="color:darkred">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {{ form.non_field_errors }}
            </div>
            <div class="flex flex-col gap-2">
                <label for="id_new_password1">New Password:</label>
                <input class="border p-2" type="password" name="new_password1" size="30" required="" id="id_new_password1">
            </div>
            <div class="flex flex-col gap-2">
                <label for="id_new_password2">Confirm Password:</label>
                <input class="border p-2" type="password" name="new_password2" size="30" required="" id="id_new_password2">
            </div>
            <div class="flex flex-row justify-center mt-4">
                <input class="btn btn-dark next" type="submit" value="{% translate "Change Password" %}" >
            </div>
        </form>
    </div>
</div>
{% endblock %}
