{% extends 'siteframe_static.html' %}
{% load i18n %}

{% block content %}
<div class="flex flex-col gap-6 items-center" style="background: white; min-height: calc(100vh - 296px);">
    <div class="flex flex-col w-3/4 md:w-1/2 sm:w-1/3 gap-3">
        <h4 class="py-5 text-2xl border-b text-center">
            <strong>{% translate "Change Password" %}</strong>
        </h4>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-sm">
            {%  translate "Please enter your email address below and we will send you a link to reset your password."  %}
        </p>
        <p class="text-sm">
            {% blocktrans %}
               If you have not provided us with an email address, please contact us and we can recover your account for you.
            {% endblocktrans %}
        </p>
        <form class="flex flex-col gap-2" method="POST" action="/accounts/password_reset/" class="password_reset">
            {% csrf_token %}
            <div class="errorlist" style="color:darkred">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {{ form.non_field_errors }}
            </div>
            <label for="id_email" style="display: none">E-mail:</label>
            <input class="border p-2" type="email" name="email" size="30" placeholder="E-mail address" required="" id="id_email">
            <div class="flex flex-row justify-center mt-4">
                <button class="btn btn-dark next" type="submit" >{% translate "Change Password" %}</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
