{% extends 'siteframe_static.html' %}
{% load i18n %}

{% block content %}
<div class="flex flex-col gap-6 items-center" style="background: white; min-height: calc(100vh - 296px);">
    <div class="flex flex-col w-3/4 md:w-1/2 sm:w-1/3 gap-5">
        <h4 class="py-5 text-2xl border-b text-center">
            <strong>{% translate "Change Password" %}</strong>
        </h4>
        <p class="text-sm">
            {% blocktrans %}
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                </p>
                <p>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                </p>
                <p>
                    If you are having trouble, please <a class="text-blue-500" href="mailto:contact@listentoshafter.org>">contact us via email</a>. (contact@listentoshafter.org)
                </p>
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
