{% extends 'siteframe_static.html' %}
{% load i18n %}

{% block content %}
<div class="flex flex-col gap-6 items-center" style="background: white; min-height: calc(100vh - 296px);">
    <div class="flex flex-col w-3/4 md:w-1/2 sm:w-1/3 gap-5">
        <h4 class="py-5 text-2xl border-b text-center">
            <strong>{% translate "Change Password" %}</strong>
        </h4>
        <p class="text-sm">
            {% blocktrans %}
                <p>
                    Your password has been reset successfully. You may now <a class="text-blue-500" href="/accounts/login/">sign in</a> with your new password .
                </p>
            {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}
