{% extends 'siteframe.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/evaluate.css' %}" rel="stylesheet">
{% endblock %}

{% block remove-top %}{% endblock %}

{% block lang_hooks %}
    <a href="{% url 'dashboard' %}" class="header_action text-white">My Dashboard</a> |
    <a href="{% url 'account_logout' %}" class="header_action text-white">Logout</a>
{% endblock %}
{% block overlay %}
<div id="overlay">
    <i class="fas fa-spinner fa-pulse"></i>
</div>
{% endblock %}
{% block main %}

    <p id="survey-title">{{ view.answer.question.questionnaire.label }}</p>

    <p id="question-text">{{ view.answer.question.text }}</p>

    <p id="answer-text">{{ view.answer.response }}</p>

    <hr>
    <div class="row">
        <div class="col-md-6 eval-left">

            <h5 class="field-label">Codes:</h5>
            <input id="addCode" type="text" placeholder="Create New Code">
            <a id="addCodeBtn" class="btn btn-dark add-btn hidden" data-question="{{ view.question.id }}">Add Code</a>
            <br>
            <hr>
            <ul id="codes" class="list-group">
                {% for code in view.available_codes %}
                    <li class="list-group-item" data-id="{{ code.id }}">{{ code.label }}</li>
                {% endfor %}
            </ul>


            <hr>


            <h5 class="field-label">Notes:</h5>
            <input id="addNote" type="text" placeholder="Create New Note">
            <a id="addNoteBtn" class="btn btn-dark add-btn hidden" data-question="{{ view.question.id }}">Add Note</a>
            <br>
            <hr>
            <ul id="notes" class="list-group">
                {% for note in view.available_notes %}
                    <li class="list-group-item" data-id="{{ note.id }}">{{ note.label }}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-6 eval-right">
{#            <p> AI Suggestions </p>#}
{##}
{#            <div class="suggestion-box"></div>#}

            <div class="col-md-12 complete">
                <a id="skipBtn" style="margin: 40px 75px 40px 0px;" class="btn btn-light skip" data-answer="{{ view.answer.id }}">Skip</a>
                <a id="finishBtn" style="margin: 40px 0px;" class="btn btn-dark next disabled" data-answer="{{ view.answer.id }}">Finish</a>
            </div>

            <h5 class="field-label" style="margin-bottom:0">Discussion:</h5>
            <span class="select-discussion active" id="forQuestion" data-lookup="{{ view.answer.question.id }}">Question</span><span class="select-discussion" id="forAnswer" data-lookup="{{ view.answer.id }}">Answer</span>
            <hr>
            <ul id="discussion" class="list-group" style="height: 468px;">
                {% autoescape off %}{{ view.discussion }}{% endautoescape %}
            </ul>
            <a data-toggle="modal" data-target="#addPostModal" style="margin: 10px 15px 10px 0px;" class="btn btn-teal merge">Add Comment</a>
        </div>

    </div>
    {% if request.user.is_admin %}
    <div class="row">
        <div class="col-sm-12">
            <h4 style="margin-top: 24px">Mod Tools:</h4>
            <a id="mergeToggle" style="margin: 10px 15px 10px 0px;" class="btn btn-amber merge" data-answer="{{ view.answer.id }}">Merge Tool</a>
            <a id="removeToggle" style="margin: 10px 0px;" class="btn btn-red next delete" data-answer="{{ view.answer.id }}">Deletion Tool</a>
        </div>
    </div>
    {% endif %}

    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addPostModalLabel">Post to Discussion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 300px;">
              <div class="form-group">
                <label for="mode">Pertains To:</label>
                <select class="form-control" id="mode">
                  <option value="forQuestion">This Question</option>
                  <option value="forAnswer">This Answer</option>
                </select>
              </div>
              <div class="form-group">
                 <label class="form-group-label" for="comment">Comment</label>
                  <textarea rows="6" class="form-control" id="comment"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white btn-md" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-grey btn-md" data-dismiss="modal" id="postBtn" data-answer="{{ view.answer.id }}">Create</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block override_footer %}{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/evaluate.js' %}"></script>

    <script>
        $(function() {
            var availableCodes = [
                {% for code in view.codes %}
                    "{{ code }}",
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
              source: availableCodes
            });
        });
    </script>
{% endblock %}