{% extends 'siteframe.html' %}
{% load static %}

{% block extra_css %}
<style type="text/css" media="screen">

table td {
    padding: 7px;
}

.titles {
    background: whitesmoke;
}

</style>
{% endblock %}

{% block lang_hooks %}
    <a href="{% url 'dashboard' %}" class="header_action text-white">My Dashboard</a> |
    <a href="{% url 'account_logout' %}" class="header_action text-white">Logout</a>
{% endblock %}

{% block remove-top %}{% endblock %}
{% block main %}


    <h1 style="text-align: center; padding-top:30px">Analysis Records</h1>
        <div style="text-align: center;">
          <a href="/admin_tools/">Back to Admin Tools</a><br>
          <a style="color: rebeccapurple;" href="/analysis/records/">All Records</a>
        </div>
{#    <h4 class="mb-4">#}
{#        <strong>History</strong>#}
{#    </h4>#}
    <hr>
    <div class="traces">
    {% for trace in view.traces %}
        <div class="trace-frame">
            <p>
            <a href="{% url "Analyze:user-records" trace.researcher.id %}" class="name-link">{{ trace.researcher.name }}</a> submitted an evaluation for answer: <a href="{% url "Analyze:answer-records" trace.answer.id %}" class="name-link">{{ trace.answer.id }}</a> - {{ trace.answer.response }}<br>
            </p>
            <p>
                assigning the following codes: {% for datum in trace.data.all %}{{ datum.label }} ({{ datum.id }}) {% endfor %} <br>
            </p>
            <table>
                <thead>
                    <tr class="titles">
                        <td>Rschr weight</td>
                        <td>Question conf.</td>
                        <td>Best Answer (Value)</td>
                        <td>Other Answers</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ trace.rscore }}
                        </td>
                        <td>
                            {{ trace.conf_x }}
                        </td>
                        <td>
                            {{ trace.best_answer}} ({{ trace.best_answer_value }})
                        </td>
                        <td>
                            {{ trace.other_values }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>

            <br>

            {% if trace.resolution %}

                A RESOLUTION was applied:
                <table>
                <thead>
                    <tr class="titles">
                        <td>Pts For</td>
                        <td>Pts Against</td>
                        <td>Certainty</td>
                        <td>False Count</td>
                        <td>Confidence</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ trace.resolution.points_for }}
                        </td>
                        <td>
                            {{ trace.resolution.points_against }}
                        </td>
                        <td>
                            {{ trace.resolution.certainty}}
                        </td>
                        <td>
                            {{ trace.resolution.false_count }}
                        </td>
                        <td>
                            {{ trace.resolution.confidence }}
                        </td>
                    </tr>
                </tbody>
            </table>

                <br>

                <br>
            {% endif %}

        </div>
        <hr>
    {% endfor %}
    </div>


{% endblock %}

{% block override_footer %}
{% endblock %}

{% block extra_js %}
    <script>
        var researcher_accounts = {{ view.user_accounts|safe }};
    </script>
    <script>
    $(document).ready(function() {

    });
    </script>
{% endblock %}