{% extends 'siteframe.html' %}
{% load static %}
{% load analysis_tags %}
{% block remove-top %}{% endblock %}
{% block extra_css %}<link href="{% static 'css/backend.css' %}" rel="stylesheet">{% endblock %}


{% block lang_hooks %}
    <a href="{% url 'dashboard' %}" class="header_action text-white">My Dashboard</a>
    <a href="{% url 'account_logout' %}" class="header_action text-white">Logout</a>
{% endblock %}

{% block main %}

    <h1 style="text-align: center; padding-top:30px; border-bottom: 1px solid black;" id="surveyTitle" data-survey="{{ view.survey.id }}">{{ view.survey }}</h1>

    <div id="questionList">
{#    <div class="card question" id="intro">#}
{#          <div class="card-body">#}
{#              <div class="question-input">#}
{#                  <h4 class="title">Introduction</h4>#}
{#                  <p class="intro-text">{{ view.survey.introduction }}</p>#}
{#                  <a class="waves-effect waves-light btn btn-small yellow updateBtn" style="display: none"> Update</a>#}
{#              </div>#}
{#          </div>#}
{#    </div>#}
    {% for question in view.survey.question_set.all %}
        {% if question.has_eligible_answer %}
            {% has_available_answer question.id request.user as answer%}
            <div class="card question" id="{{ question.id }}">
              <div class="card-body">
                  <div class="question-input">
                      <p class="question-text">{{ question.text }}</p>

                      <a href="{% url "Analyze:evaluate" view.survey.id question.id %}"
                         class="waves-effect waves-light btn btn-small review updateBtn {% if not answer %}disabled{% endif %}"
                      >Review</a>
                 </div>
              </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>


{##}
{#    <div class="card" id="createNew">#}
{#        <div class="card-header">#}
{#            + Add Question#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="card" id="new" style="display: none">#}
{#          <div class="card-body">#}
{#              <div class="question-input">#}
{#                  <textarea onkeyup="auto_grow(this)" class="question-text" placeholder="Enter Question Text"></textarea>#}
{##}
{#                  <a class="waves-effect waves-light btn btn-small yellow updateBtn" style="display: none"> Submit</a>#}
{##}
{#                  <select class="form-control question-type">#}
{#                      <option value="" disabled selected>Select Question Type</option>#}
{#                      <option value="1" >Text Question</option>#}
{#                      <option value="2" >Boolean Question</option>#}
{#                      <option value="3" >Multiple Choice Question</option>#}
{#                      <option value="4" >Range Question</option>#}
{#                    </select>#}
{#             </div>#}
{#          </div>#}
{#    </div>#}
{##}
{#    <div class="builder-container">#}
{#          <a id="saveBtn" class="btn waves-effect waves-light btn-lg btn-dark builder-btn"><i class="far fa-save "></i> Save Survey</a>#}
{#    </div>#}

{% endblock %}

{% block override_footer %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/surveyBuilder.js' %}"></script>#}
{% endblock %}