{% extends 'siteframe.html' %}
{% block remove-top %}{% endblock %}


{% block lang_hooks %}
    <a href="{% url 'dashboard' %}" class="header_action text-white">My Dashboard</a> |
    <a href="{% url 'account_logout' %}" class="header_action text-white">Logout</a>
{% endblock %}

{% block main %}

    <h1 style="text-align: center; padding-top:30px; border-bottom: 1px solid black">All Surveys</h1>
    {% for survey in view.surveys %}
        {% if survey.has_eligible_responses %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ survey.label }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ survey.date_opened }}</h6>
                <p class="card-text">{{ survey.description }}</p>
                <a href="{% url "Analyze:select_question" survey.id %}" class="card-link">Select Survey</a>
              </div>
            </div>
        {% endif %}
    {% endfor %}
{#    <hr>#}
{#    <h4 class="mb-4">#}
{#        <strong>Active</strong>#}
{#    </h4>#}
{#        {% for survey in view.current %}#}
{#        <div class="card">#}
{#          <div class="card-body">#}
{#            <h5 class="card-title">{{ survey.label }}</h5>#}
{#            <h6 class="card-subtitle mb-2 text-muted">{{ survey.date_opened }}</h6>#}
{#            <p class="card-text">{{ survey.description }}</p>#}
{#            <a href="{% url "survey_builder" survey.id %}" class="card-link">Edit Survey</a>#}
{#          </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <h4 class="mb-4">#}
{#        <strong>Completed</strong>#}
{#    </h4>#}
{#        {% for survey in view.completed %}#}
{#        <div class="card">#}
{#          <div class="card-body">#}
{#            <h5 class="card-title">{{ survey.label }}</h5>#}
{#            <h6 class="card-subtitle mb-2 text-muted">{{ survey.date_opened }}</h6>#}
{#            <p class="card-text">{{ survey.description }}</p>#}
{#            <a href="{% url "survey_builder" survey.id %}" class="card-link">Edit Survey</a>#}
{#          </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#    <hr>#}

{% endblock %}

{% block override_footer %}
{% endblock %}