{% extends 'siteframe.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/set_permissions.css' %}" rel="stylesheet">
{% endblock %}
{% block remove-top %}{% endblock %}
{% block lang_hooks %}{% endblock %}
{% block main %}
    <h5>Setting Researcher Permissions for: </h5>
    <h4 id="title" data-survey="{{ view.survey.id }}">{{ view.survey.label }}</h4>

    <div class="select_researcher_frame">
        <div class="select_researcher_title">
            <span class="directions">Select Researchers</span> (<a id="select_all" class="select" data-clicked="false">Select All</a>) <a href="#" id="save" class="btn btn-default btn-md">Set Permissions</a>
        </div>
        <div class="select_researchers">
            <div class="group-title">Beginner Researchers {% if view.researchers.1 %}(<a class="select" data-clicked="false">Select These</a>){% endif %}</div>
            <ul class="researcher_list">
                {% for researcher in view.researchers.1 %}
                    <li class="researcher level1 {% if view.survey in researcher.eligible_for.all %}active{% endif %}" id="{{ researcher.id }}">{{ researcher.name }}</li>
                {% endfor %}
            </ul>
            <div class="group-title">Intermediate Researchers {% if view.researchers.2 %}(<a class="select" data-clicked="false">Select These</a>){% endif %}</div>
                <ul class="researcher_list">
                {% for researcher in view.researchers.2 %}
                    <li class="researcher level2 {% if view.survey in researcher.eligible_for.all %}active{% endif %}" id="{{ researcher.id }}">{{ researcher.name }}</li>
                {% endfor %}
                </ul>
            <div class="group-title">Advanced Researchers {% if view.researchers.3 %}(<a class="select" data-clicked="false">Select These</a>){% endif %}</div>
                <ul class="researcher_list">
                {% for researcher in view.researchers.3 %}
                    <li class="researcher level3 {% if view.survey in researcher.eligible_for.all %}active{% endif %}" id="{{ researcher.id }}">{{ researcher.name }}</li>
                {% endfor %}
                </ul>
            <div class="group-title">Expert Researchers {% if view.researchers.4 %}(<a class="select" data-clicked="false">Select These</a>){% endif %}</div>
                <ul class="researcher_list">
                {% for researcher in view.researchers.4 %}
                    <li class="researcher level4 {% if view.survey in researcher.eligible_for.all %}active{% endif %}" id="{{ researcher.id }}">{{ researcher.name }}</li>
                {% endfor %}
                </ul>
            <div class="group-title">Master Researchers {% if view.researchers.5 %}(<a class="select" data-clicked="false">Select These</a>){% endif %}</div>
                <ul class="researcher_list">
                {% for researcher in view.researchers.5 %}
                    <li class="researcher level5 {% if view.survey in researcher.eligible_for.all %}active{% endif %}" id="{{ researcher.id }}">{{ researcher.name }}</li>
                {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}
{% block override_footer %}{% endblock %}
{% block extra_js %}

    <script>
    $(document).ready(function(){
        $('.researcher').click(function(){
            $(this).toggleClass('active')
        });

        $('.select').click(function(){
            if ($(this).is("#select_all")) {
                var selects = $('.select');
                if($(this).data('clicked') === false) {
                    $('.researcher').addClass('active');
                    selects.data('clicked', true);
                    selects.html('Deselect These');
                    $(this).html('Deselect All')
                } else {
                    $('.researcher').removeClass('active');
                    selects.data('clicked', false);
                    selects.html('Select These');
                    $(this).html('Select All')
                }
            } else {
                if ($(this).data('clicked') === false) {
                    $(this).parent().next().children().addClass('active');
                    $(this).html ("Deselect These");
                    $(this).data('clicked', true)
                } else {
                    $(this).parent().next().children().removeClass('active');
                    $(this).html ("Select These");
                    $(this).data('clicked', false)
                }
            }
        });

        $('#save').click(function() {
           var dataStr = "";
           $('.active').each(function(i, v) {
               dataStr += "," + $(this).attr('id')
           });

           $.ajax ({
              url: '/surveys/set_permissions/',
              type: 'post',
              dataType:'json',
              data: {
                  survey: $('#title').data('survey'),
                  dataStr: dataStr
              },
              success: function (r) {
                  history.go(-1);
              }
           })

        });

    })
    </script>

{% endblock %}