{% extends 'siteframe_static.html' %}
{% load static %}
{% load home_tags %}
{% load i18n %}

{% block stylesheets %}
<style>
    input[type=text], input[type=email] {
        border: 1px solid gray;
        padding: 4px;
    }
</style>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-6 items-center bg-gray-100" style="min-height: calc(100vh - 296px);">
    <div class="flex flex-col lg:w-2/3 bg-white px-16 py-8 h-full">

        <h1 class="text-3xl pb-2 border-b mb-2 text-center">{% translate "My Dashboard" %}</h1>
        {% if request.user.is_admin %}
        <div style="text-align: center;">
             <a style="color: darkred; font-weight: 800;" href="/admin_tools/">Admin Tools</a>
        </div>
        {% endif %}
        {% if request.user.is_researcher %}
        <div style="text-align: center;">
             <a style="color: #9e00a7;font-weight: 800;" href="{% url 'Analyze:select_survey' %}">Researcher Portal</a>
        </div>
        {% endif %}

        <div class="flex flex-col gap-12 my-12 select-none">
            {% if view.new_surveys %}
            <div class="flex flex-col gap-3">
                <h4 class="text-2xl font-title border-b pb-2">
                    <strong>{% translate "New Surveys" %}</strong>
                </h4>
                <div class="flex flex-col gap-8 ">
                {% for survey in view.new_surveys %}
                    <a href="{% url "Surveys:view" survey.slug %}" class="card cursor-pointer hover:bg-gray-100 border shadow rounded p-4">
                        <h5 class="border-b mb-1 pb-1 font-bold">{{ survey|translate_label:language }}</h5>
                        {% if view.get_language == 1 %}
                        {% language 'es' %}
                        <h6 class="text-sm text-gray-500">{{ survey.date_opened | date}}</h6>
                        {% endlanguage %}
                        {% else %}
                        <h6 class="text-sm text-gray-500">{{ survey.date_opened }}</h6>
                        {% endif %}
                        <p class="text-sm">{{ survey.description }}</p>
                    </a>
                {% endfor %}
                </div>
                <div class="flex flex-col justify-center gap-2 p-4 pb-6 border shadow text-center bg-gray-300">
                    <p class="">
                        {% blocktrans %}
                            Enter Survey Access Code:
                        {% endblocktrans %}
                    </p>
                    <div class="flex flex-row justify-center items-center">
                        <input type="text" class="border focus:outline-none p-1 text-gray-700 h-10">
                        <button class="items-center px-3 flex flex-row gap-2 text-white h-10" style="background: #728f98;">
                            {% translate 'Enter' %}
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if view.started %}
            <div class="flex flex-col gap-3">
                <h4 class="text-2xl font-title border-b pb-2">
                     <strong>{% translate "Surveys In Progress" %}</strong>
                </h4>
                {% for survey in view.started %}
                <a href="{% url "Surveys:view" survey.slug %}" class="card cursor-pointer hover:bg-gray-100 border shadow rounded p-4">
                    <h5 class="border-b mb-1 pb-1 font-bold">{{ survey|translate_label:language }}</h5>
                    {% if view.get_language == 1 %}
                    {% language 'es' %}
                    <h6 class="text-sm text-gray-500">{{ survey.date_opened | date}}</h6>
                    {% endlanguage %}
                    {% else %}
                    <h6 class="text-sm text-gray-500">{{ survey.date_opened }}</h6>
                    {% endif %}
                    <p class="text-sm">{{ survey.description }}</p>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% if view.finished %}
            <div class="flex flex-col gap-3">
                <h4 class="text-2xl font-title border-b pb-2">
                     <strong>{% translate "Completed Surveys" %}</strong>
                </h4>
                {% for survey in view.finished %}
                <a href="{% url "Surveys:view" survey.slug %}" class="card cursor-pointer hover:bg-gray-100 border shadow rounded p-4">
                    <h5 class="border-b mb-1 pb-1 font-bold">{{ survey|translate_label:language }}</h5>
                    {% if view.get_language == 1 %}
                    {% language 'es' %}
                    <h6 class="text-sm text-gray-500">{{ survey.date_opened | date}}</h6>
                    {% endlanguage %}
                    {% else %}
                    <h6 class="text-sm text-gray-500">{{ survey.date_opened }}</h6>
                    {% endif %}
                    <p class="text-sm">{{ survey.description }}</p>
                </a>
                {% endfor %}
            </div>
        {% endif %}
        </div>
{#        <hr>#}
{#        <h4 class="mb-4"><strong>{% translate "Settings" %}</strong></h4>#}
{#        <form method="POST" class="flex flex-col gap-4">#}
{#            {% csrf_token %}#}
{#            {% if form.errors %}#}
{#                {% for field in form %}#}
{#                    {% for error in field.errors %}#}
{#                        <div class="alert alert-danger">#}
{#                            <strong>{{ error|escape }}</strong>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                {% for error in form.non_field_errors %}#}
{#                    <div class="alert alert-danger">#}
{#                        <strong>{{ error|escape }}</strong>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#         {{ form.as_p }}#}
    {#    <input id="allows_contact_email" name="allows_contact_email" type="checkbox">#}
    {#    <label for="allowsEmail">Allow Contact via Email</label><br>#}
    {#    <input id="allowsSMS" name="allows_contact_sms" type="checkbox">#}
    {#    <label for="allowsSMS">Allow Contact via Text/SMS</label><br>#}
    {#    <label for="email">My Email:</label><br>#}
    {#    <input type="text" id="email" name="email" value="{{ request.user.email }}"><br>#}
    {#    <label for="phone">My Phone Number:</label><br>#}
    {#    <input type="text" id="phone" name="phone_number" value="{{ request.user.formatted_phone_number }}"><br>#}
{#        <div class="flex flex-row justify-center">#}
{#            <input type="submit" class="btn btn-dark submit cursor-pointer hover:text-gray-100" value="{% translate "Save Settings" %}">#}
{#        </div>#}
{#        </form>#}

    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
    $(function() {
        $('#unlockReveal').click(function() {
            $(this).hide();
            $('#unlockFrame').show();
        });

        $('#unlockBtn').click(function(){
            $.ajax({
                url: "/surveys/unlock_survey/",
                type: "POST",
                dataType: 'json',
                data: {'code': $('#unlock').val()},
                success: function (result) {
                    if (result.success === true) {
                        window.location.reload()
                    } else {
                        $('#unlockMsg').text(result.message).show()
                    }
                }
            });
        });
    })
    </script>
{% endblock %}