{% extends 'siteframe.html' %}
{% load static %}

{% block extra_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
{% endblock %}

{% block remove-top %}{% endblock %}
{% block main %}


    <h1 style="text-align: center; padding-top:30px">All Surveys</h1>
        <div style="text-align: center;">
          <a href="/dashboard/">Back to Dashboard</a>
        </div>
        <div style="text-align: center; color: seagreen">
            <a href="/newsletter_builder/{{ view.newsletter_date }}">Newsletter Builder</a>
        </div>
        <div style="text-align: center; color: seagreen">
            <a href="{% url "Blog:drafts" %}">Blog Editor</a>
        </div>
            <a class="btn btn-grey btn-md" data-toggle="modal" data-target="#createSurveyModal">Create New
              <i class="fa fa-plus ml-1"></i>
            </a>
    <h4 class="mb-4">
        <strong>Unpublished</strong>
    </h4>
    {% for survey in view.unpublished %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ survey.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ survey.date_opened }}</h6>
            <p class="card-text">{{ survey.description }}</p>
            <a href="{% url "Surveys:builder" survey.id %}" class="card-link">Edit Survey</a>
            <a data-survey="{{ survey.id }}" class="card-link activateBtn" style="color:darkgreen">Launch Survey</a>
            <a data-survey="{{ survey.id }}" class="card-link deleteBtn" style="color:red">Delete Survey</a>
            <a data-survey="{{ survey.id }}" class="card-link copyBtn" style="color:darkorchid">Copy Survey</a>
          </div>
        </div>
    {% endfor %}
    <hr>

    <h4 class="mb-4">
        <strong>Active</strong>
    </h4>

    <div id="active">
        {% for survey in view.current %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ survey.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ survey.date_opened }}</h6>
            <p class="card-text">{{ survey.description }}</p>
              {{ survey.count_responses }} {% if survey.count_responses == 1 %}Response{% else %}Responses{% endif %}
              {% if not survey.qualitative %}
                     - <a href="{% url "Surveys:review" survey.id %}" class="card-link" style="margin-left: 0">Review Responses</a>
              {% else %}
                   -
              {% endif %}
              <a href="{% url "Surveys:stats" survey.id %}" class="card-link" style="color:cadetblue">View Stats</a>
              {% if survey.qualitative %}
                    <a href="{% url "Surveys:analysis_permissions" survey.id %}" class="card-link" style="color:darkgreen">Manage Review Permissions</a>
              {% endif %}
              <a data-survey="{{ survey.id }}" class="card-link copyBtn" style="color:darkorchid">Copy Survey</a>
              <a data-survey="{{ survey.id }}" class="card-link closeBtn" style="color:darkblue">Close Survey</a>
          </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    <h4 class="mb-4">
        <strong>Completed</strong>
    </h4>
    {% for survey in view.completed %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ survey.label }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ survey.date_opened }}</h6>
            <p class="card-text">{{ survey.description }}</p>
            {{ survey.count_responses }} {% if survey.count_responses == 1 %}Response{% else %}Responses{% endif %}

              {% if not survey.qualitative %}
                     - <a href="{% url "Surveys:review" survey.id %}" class="card-link" style="margin-left: 0">Review Responses</a>
              {% endif %}

              {% if survey.qualitative %}
                    <a href="{% url "Surveys:analysis_permissions" survey.id %}" class="card-link" style="margin-left: 0; color:darkgreen">Review Permissions</a>
              {% endif %}

            <a data-survey="{{ survey.id }}" class="card-link copyBtn" style="color:darkorchid">Copy Survey</a>
            <a data-survey="{{ survey.id }}" class="card-link archiveBtn" style="color:grey">Archive Survey</a>
          </div>
        </div>
    {% endfor %}

    <hr>

    <h1 style="text-align: center; padding-top:30px">Questions of the Week</h1>
        <a class="btn btn-grey btn-md" data-toggle="modal" data-target="#createWeeklyModal">Add New
          <i class="fa fa-plus ml-1"></i>
        </a>
    <h4 class="mb-4">
    {% for question in view.weekly_questions %}
        <p class="date-label">{{ question.week_of }}</p>
        <a href="{% url 'Surveys:review_weekly' question.id %}" class="weekly">{{ question.text }}</a>
    {% endfor %}
    </h4>

    <hr>

    <h1 style="text-align: center; padding-top:30px">Projects</h1>

    <br>
        <a class="btn btn-grey btn-md" id="addProject">Add New
          <i class="fa fa-plus ml-1"></i>
        </a>
    <form id="newProjectForm" style="display: none">
        <input id="projectName" name="project-name" placeholder="Project Name">
        <a class="card-link btn btn-grey btn-md" id="addProjectBtn" style="color:darkorchid">Add Project</a>
    </form>
    <br>

    <div id="projectList">
    {% for project in view.projects %}
        <a style="font-size: 16px; margin-bottom: 3px" href="{% url "project" project.slug %}">{{ project.name }}</a><br>
    {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createSurveyModal" tabindex="-1" role="dialog" aria-labelledby="createSurveyModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createSurveyModalLabel">Enter Survey Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="form-check">
                 <label class="form-check-label" for="surveyName">Survey Name</label>
                <input type="text" class="form-control" id="surveyName">
              </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="qualitative" checked>
                <label class="form-check-label" for="qualitative">Qualitative</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="exclusive">
                <label class="form-check-label" for="exclusive">Exclusive</label>
            </div>

              <div class="form-check">
                <label class="form-check-label" for="surveyCode">Access Code</label>
                <input type="text" class="form-control" id="surveyCode" disabled>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white btn-md" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-grey btn-md" id="createBtn">Create</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="createWeeklyModal" tabindex="-1" role="dialog" aria-labelledby="createSurveyModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">

              <div class="form-group">
                <label for="newQuestionText">Enter Question</label>
                <input type="text" class="form-control"  id="newQuestionText">
              </div>

              <div class="form-group">
                <label for="newQuestionTranslation">Enter Translation</label>
                <input type="text" class="form-control"  id="newQuestionTranslation">
              </div>

              <div class="form-group">
                <label for="newQuestionDate" placeholder="MM/DD/YYYY">Enter Date</label>
                <input type="text" class="datepicker" id="newQuestionDate">
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-white btn-md" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-grey btn-md" id="createWeeklyBtn">Create</button>
          </div>
        </div>
      </div>
    </div>
    </div>

{% endblock %}

{% block override_footer %}
  <footer class="page-footer text-center font-small mt-4 wow fadeIn fixed-bottom">
    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-snapchat mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://listentoshafter.org/" target="_blank">listentoshafter.org</a>
    </div>
    <!--/.Copyright-->
  </footer>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"></script>

    <script>
    $(document).ready(function() {

        $('.datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            disableDaysOfWeek: [1, 2, 3, 4, 5, 6]
        });

        function surveyAdmin(survey, action, card) {
            var result = false;
            $.ajax({
                   url: '/surveys/survey_admin/',
                   type: "POST",
                   dataType: 'json',
                   data: {
                       survey: survey,
                       action: action
                   },
                   success: function (result) {
                       if (action === "delete") {
                           card.remove()
                       } else {
                           location.reload()
                       }
                   }
               });
        }

       $('.activateBtn').click(function() {
           var survey = $(this).data('survey');
           var card = $(this).parent();
           if (confirm('Launch this survey now?')) {
               surveyAdmin(survey, 'activate', card);
           }
       });

      $('.copyBtn').click(function() {
           var survey = $(this).data('survey');
           var card = $(this).parent();
           if (confirm('Create a duplicate of this survey?')) {
               surveyAdmin(survey, 'copy', card);
           }
      });

      $('.deleteBtn').click(function() {
           var survey = $(this).data('survey');
           var card = $(this).parent();
           if (confirm('Really delete this survey?')) {
               surveyAdmin(survey, 'delete', card);
           }
       });

      $('.closeBtn').click(function() {
          var survey = $(this).data('survey');
          var card = $(this).parent();
           if (confirm('Close this survey to all participants?')) {
               surveyAdmin(survey, 'close', card);
           }
      });

      $('.archiveBtn').click(function() {
          var survey = $(this).data('survey');
          var card = $(this).parent();
           if (confirm('Archive this survey?')) {
               surveyAdmin(survey, 'archive', card);
           }
      });

      $('#createBtn').click(function() {
           var label = $('#surveyName').val();
           var qualitative = $('#qualitative').is(':checked');
           var exclusive = $('#exclusive').is(':checked');
           var code = $('#surveyCode').val();
           $.ajax({
               url: '/surveys/create_survey/',
               type: "POST",
               dataType: 'json',
               data: {
                   label: label,
                   qualitative: qualitative,
                   exclusive: exclusive,
                   code: code
               },
               success: function (result) {
                   window.location.href = result.url
               }
           });
      });

      $('#createWeeklyBtn').click(function() {
         var text = $('#newQuestionText').val();
         var date = $('#newQuestionDate').val();
         var translation = $('#newQuestionTranslation').val();
         console.log('test');
         $.ajax({
               url: '/surveys/create_weekly/',
               type: "POST",
               dataType: 'json',
               data: {
                   text: text,
                   date: date,
                   translation: translation
               },
               success: function (result) {
                   if (result.success === true) {
                       location.reload()
                   } else {
                       alert(result.message)
                   }
               }
           });
      });

      $('#createSurveyModal').on('shown.bs.modal', function() {
        $('#surveyName').trigger('focus');
      });

      $("#exclusive").click(function(){
        $("#surveyCode").attr('disabled', !this.checked)
      });

      $('#addProject').click(function(e){
          e.preventDefault();
        $('#newProjectForm').slideDown();
        $(this).hide()
      });

      $('#addProjectBtn').on('click', function() {
           $.ajax({
               url: '/projects/add_project/',
               type: "POST",
               dataType: 'json',
               data: {
                   name: $('#projectName').val()
               },
               success: function (result) {
                   if (result.success === true) {
                       $('#projectList').append(result.string)
                   } else {
                       alert(result.string)
                   }
               }
           });
      });

    })
    </script>
{% endblock %}