{% load static %}
{% load survey_tags %}
{% load home_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shafter Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/survey.css' %}" rel="stylesheet">
    <link href="{% static 'css/slanted_button.css' %}" rel="stylesheet">
</head>

<body>
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view" style="background-color: white; background-repeat: no-repeat; background-size: cover;">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center mx-5 wow fadeIn">
              <button id="langSwitch" class="skew-button survey" data-location="site"><span>{{ "Cambiar al español"|translate_fixture:language }}</span></button>
              <h1 class="mb-4">
                <strong>{{"Thank you for participating!"|translate_fixture:language}}</strong>
              </h1>
              <p>
               {% if request.session.language == 'Spanish' or request.user.survey_language.label == 'Spanish'%}
                    {% with request.user.survey_language as lang %}
                      <strong>{{ view.introduction_translated|linebreaks }}</strong>
                    {% endwith %}
                {% else %}
                     <strong>{{ view.introduction|linebreaks }}</strong>
                {% endif %}

              </p>
              <p class="mb-4 d-none d-md-block">
                <strong>{{"Your responses are 100% anonymous. We are an independent non-profit and are not affiliated with the City of Shafter in any way."|translate_fixture:language}}</strong>
              </p>
                <button type="button" class="btn btn-lg btn-dark next">{{"Begin"|translate_fixture:language}} <i class="fa fa-arrow-right btn-icon" aria-hidden="true"></i></button>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% if view.need_demographics %}
      <div class="carousel-item">
        <div class="view" style="background-color: white; background-repeat: no-repeat; background-size: cover;">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>{{"Please tell us a little bit about yourself."|translate_fixture:language}}</strong>
              </h1>
               <form data-question_id="0">
                   <div class="form-row">
                        <div class="form-group col-md-6">
                          <label class="survey-label" for="heritage">{{"Family Heritage"|translate_fixture:language}}</label>
                          <input type="text" name="heritage" class="form-control" id="heritage">
                        </div>
                        <div class="form-group col-md-4">
                          <label class="survey-label" for="gender">{{"Gender"|translate_fixture:language}}</label>
                          <select name="gender" id="gender" class="form-control">
                            <option selected value="">Choose...</option>
                            <option value="1">{{"Female"|translate_fixture:language}}</option>
                            <option value="2">{{"Male"|translate_fixture:language}}</option>
                            <option value="3">{{"Non-Binary"|translate_fixture:language}}</option>
{#                            <option value="4">Other</option>#}
                          </select>
                        </div>
                        <div class="form-group col-md-2">
                          <label class="survey-label" for="date_of_birth">{{"Date of Birth"|translate_fixture:language}}</label>
                          <input type="text" name="date_of_birth" class="form-control" id="date_of_birth" data-date-end-date="0d" placeholder="m/d/yyyy">
                        </div>
                   </div>
               </form>
               <span class="error">{{"Sorry, we are having trouble connecting to you. Please try again later or contact our support team."|translate_fixture:language}}</span><br>
              <button type="button" class="btn btn-dark next">{{"Proceed"|translate_fixture:language}}</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% for question in view.questions %}
      <div class="carousel-item">
        <div class="view" style="background-color: white; background-repeat: no-repeat; background-size: cover;">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center mx-5 wow fadeIn">
              <h4 class="mb-4">
                {% if request.session.language == 'Spanish' or request.user.survey_language.label == 'Spanish'%}
                    {% with request.user.survey_language as lang %}
                      <strong>{{ question|translate:lang }}</strong>
                    {% endwith %}
                {% else %}
                  <strong>{{ question.text }}</strong>
                {% endif %}
              </h4>
              {% autoescape off %}{% generate_form user question %}{% endautoescape %}
              <span class="error">{{"Sorry, we are having trouble connecting to you. Please try again later or contact our support team."|translate_fixture:language}}</span><br>
              <button type="button" class="btn btn-outline-black prev">{{"Go Back"|translate_fixture:language}}</button>
              <button type="button" class="btn btn-dark next">{{"Proceed"|translate_fixture:language}}</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="carousel-item">
        <div class="view" style="background-color: white; background-repeat: no-repeat; background-size: cover;">
          <div class="mask d-flex justify-content-center align-items-center">
            <div class="text-center mx-5 wow fadeIn">
              <h4 class="mb-4">
                <strong>{{"Thanks again for taking part in this study!"|translate_fixture:language}}</strong>
              </h4>
              <p class="mb-4 d-none d-md-block">
                <strong>
                    {{"As promised, your responses will remain 100% anonymous."|translate_fixture:language}}
                </strong>
              </p>
                <p class="mb-4 d-none d-md-block">
                <strong>
                    {{"Listen To Shafter is a community benefit organization that is dedicated to learning about the people who live and work in our community. If you have the means, please consider sponsoring us with a"|translate_fixture:language}} <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=S6PXTEXMBEW3S&source=url" target="_blank">{{"small monthly donation"|translate_fixture:language}}</a>.
                    {{"Your assistance will help us build a more complete picture of our community by giving a voice to more of our neighbors!"|translate_fixture:language}}
                </strong>
              </p>
              <p class="mb-4 d-none d-md-block">
                <strong>
                   {{"If you haven't yet, please be sure to complete the other surveys on your dashboard. Your participation is so incredibly helpful to everyone who is working to make our city the best place it can be!"|translate_fixture:language}}
                   {{"Also, please consider sharing this website with some fellow Shafter people and inviting them to participate as well. We need every last person's help!"|translate_fixture:language}}
                </strong>
              </p>
              <p>
                  <a class="end-icon" href="https://www.instagram.com/listentoshafter/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                  <a class="end-icon" href="/snapcode/"><i class="fa fa-snapchat-square fa-3x" aria-hidden="true" target="_blank"></i></a>
                  <a class="end-icon" href="https://www.facebook.com/Listen-to-Shafter-330078214288386/" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
                  <a class="end-icon" href="https://twitter.com/listentoshafter?lang=en" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
              </p>
{#              <form>#}
{#                  <div class="form-group">#}
{#                    <input type="email" class="form-control" id="email" maxlength="4">#}
{#                  </div>#}
{#              </form>#}
              <a href="/dashboard/" class="btn btn-dark submit">{{"I'm Finished"|translate_fixture:language}}</a>
            </div>
          </div>
        </div>
    </div>



    </div>
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev" id="prevBtn" style="display: none">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{{"Previous"|translate_fixture:language}}</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next" id="nextBtn" style="display: none">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{{"Next"|translate_fixture:language}}</span>
    </a>
  </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submitSurvey.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/changeLanguage.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
      // Animations initialization
      new WOW().init();

      // Datepicker Initialization
      $('#date_of_birth').datepicker({
          startDate: '-150y'
      });
    </script>
</body>

</html>
