{% extends 'siteframe.html' %}
{% load static %}
{% load survey_tags %}

{% block remove-top %}{% endblock %}
{% block extra_css %}<link href="{% static 'css/backend.css' %}" rel="stylesheet">{% endblock %}
{% block main %}

    <h1 style="text-align: center; padding-top:30px" id="surveyTitle" data-survey="{{ view.survey.id }}" data-index="null">{{ view.survey }}</h1>

    <div class="card question" id="survey-intro">
      <div class="card-body">
          <div class="row">
              <div class="question-title col-sm-12">
                  <h4 class="title">Introduction</h4>
              </div>
          </div>

          <div class="row question-row">
              <div class="question-input col-sm-6">
                  <textarea onkeyup="auto_grow(this)" class="intro-text question-text" data-lang="0">{{ view.survey.introduction }}</textarea>
                  {% for lang in view.survey.organization.languages.all %}
                    <textarea onkeyup="auto_grow(this)" class="question-text" data-lang="{{ lang.id }}" style="display: none">{{ view.survey.id|translate_survey:lang }}</textarea>
              {% endfor %}
              </div>
              <div class="question-languages col-sm-5">
                  <div class="lang-btn active" id="lang-0">Default</div>
                  {% for lang in view.survey.organization.languages.all %}
                      <div class="lang-btn" id="lang-{{ lang.id }}">{{ lang.label }}</div>
                  {% endfor %}
              </div>
              <div class="question-btns col-sm-1"  style="display: none">
                  <a class="waves-effect waves-light btn btn-small yellow updateBtn" >Update</a>
              </div>
          </div>
      </div>
    </div>
    <div id="questionList">
        <!-- Base HTML for clonging -->
        <div class="card question" id="new" style="display: none">
          <div class="card-body">
              <div class="row question-row">
                  <div class="question-input col-sm-6">
                      <textarea onkeyup="auto_grow(this)" class="question-text" data-lang="0" placeholder="Enter Question Text"></textarea>
                      {% for lang in view.survey.organization.languages.all %}
                            <textarea onkeyup="auto_grow(this)" class="question-text" data-lang="{{ lang.id }}" style="display: none" placeholder="Enter Translated Text"></textarea>
                      {% endfor %}
                  </div>
                  <div class="question-languages col-sm-6">
                      <div class="lang-btn active" id="lang-0">Default</div>
                      {% for lang in view.survey.organization.languages.all %}
                          <div class="lang-btn" id="lang-{{ lang.id }}">{{ lang.label }}</div>
                      {% endfor %}
                      </div>
                 </div>


              <div class="row">
                <div class="col-sm-6">

                  <select class="form-control question-type">
                      <option value="" disabled selected>Select Question Type</option>
                      {% if view.survey.qualitative %}
                      <option value="1" >Text Question</option>
                      {% endif %}
                      <option value="2" >Boolean Question</option>
                      <option value="3" >Multiple Choice Question</option>
                      <option value="4" >Range Question</option>
                      <option value="5" >Select Multiple Question</option>
                  </select>

                  <div class="options" style="margin-top: 26px; display: none">
                      <p class="optionAdd" data-langs="{% for lang in view.survey.organization.languages.all %}{{ lang.id }},{% endfor %}">+ Add Option</p>
                  </div>
                  <div style="display: none">
                      <input id="optInputNew" type="text" class="addOptionInput new" data-lang="0">
                  </div>
                </div>
                <div class="question-btns col-sm-6" style="display: none">
                  <a class="waves-effect waves-light btn btn-small yellow updateBtn"> Update</a>
                  <a class="waves-effect waves-light btn btn-small red deleteBtn" > Delete</a>
                </div>
             </div>
          </div>
         </div>

        {% for question in view.survey.question_set.all %}
            <div class="card question" id="question-{{ question.id }}" data-index="{{ question.position }}">
              <div class="card-body">
                <div class="row question-row">
                  <div class="question-input col-sm-6">
                      <textarea onkeyup="auto_grow(this)" class="question-text" data-lang="0">{{ question.text }}</textarea>
                      {% for lang in view.survey.organization.languages.all %}
                            <textarea onkeyup="auto_grow(this)" class="question-text" data-lang="{{ lang.id }}" style="display: none">{{ question|translate:lang }}</textarea>
                      {% endfor %}
                  </div>
                  <div class="question-languages col-sm-6">
                      <div class="lang-btn active" id="lang-0">Default</div>
                      {% for lang in view.survey.organization.languages.all %}
                          <div class="lang-btn" id="lang-{{ lang.id }}">{{ lang.label }}</div>
                      {% endfor %}
                      </div>
                 </div>

                 <div class="row">
                    <div class="col-sm-6">

                      <select class="form-control question-type">
                          <option value="" disabled>Select Question Type</option>
                          {% if question.questionnaire.qualitative %}
                          <option value="1" {% if question.response_format == 1 %}selected{% endif %}>Text Question</option>
                          {% endif %}
                          <option value="2" {% if question.response_format == 2 %}selected{% endif %}>Boolean Question</option>
                          <option value="3" {% if question.response_format == 3 %}selected{% endif %}>Multiple Choice Question</option>
                          <option value="4" {% if question.response_format == 4 %}selected{% endif %}>Range Question</option>
                          <option value="5" {% if question.response_format == 5 %}selected{% endif %}>Select Multiple Question</option>
                        </select>
                        <div class="options" style="margin-top: 26px; {% if question.response_format in view.hide_options %}display: none{% endif %}">
                            {% if question.options %}
                                {% for option in question.options %}
                                    {% if option %}
                                        <input type="text" class="addOptionInput" value="{{ option }}" data-lang="0">
                                    {% endif %}
                                {% endfor %}
                                {% for lang in view.survey.organization.languages.all  %}
                                    {% autoescape off %}{{ question|translate_options:lang }}{% endautoescape %}
                                {% endfor %}
                            {% endif %}
                            <p class="optionAdd" data-langs="{% for lang in view.survey.organization.languages.all %}{{ lang.id }},{% endfor %}">+ Add Option</p>
                        </div>

                    </div>
                    <div class="question-btns col-sm-6" style="display: none">
                        <a class="waves-effect waves-light btn btn-small red deleteBtn" > Delete</a>
                        <a class="waves-effect waves-light btn btn-small yellow updateBtn" > Update</a>
                    </div>
                  </div>
                 </div>
              </div>

        {% endfor %}
    </div>

    <div class="card" id="createNew">
        <div class="card-header">
            + Add Question
        </div>
    </div>

    <div class="builder-container">
          <a id="saveBtn" class="btn waves-effect waves-light btn-lg btn-dark builder-btn"><i class="far fa-save "></i> Return Home</a>
    </div>

{% endblock %}

{% block override_footer %}
  <footer class="page-footer text-center font-small mt-4 wow fadeIn fixed-bottom">
    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-snapchat mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://listentoshafter.org/" target="_blank">listentoshafter.org</a>
    </div>
    <!--/.Copyright-->
  </footer>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/surveyBuilder.js' %}"></script>
{% endblock %}