{% extends 'siteframe.html' %}

{% load statistics_tags %}

{% block remove-top %}{% endblock %}
{% block lang_hooks %}{% endblock %}
{% block main %}
    <h1 style="text-align: center; padding-top:30px"> Stats for {{ view.survey.label }}</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Range</th>
          <th scope="col"># Who Worked On</th>
          <th scope="col"># Who Finished</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Past 24 Hours</th>
          <td>{{ view.survey|recent_responses:"24" }}</td>
          <td>{{ view.survey|recent_completions:"24" }}</td>
        </tr>
        <tr>
          <th scope="row">Past 48 Hours</th>
          <td>{{ view.survey|recent_responses:"48" }}</td>
          <td>{{ view.survey|recent_completions:"48" }}</td>
        </tr>
        <tr>
          <th scope="row">Past 72 Hours</th>
          <td>{{ view.survey|recent_responses:"72" }}</td>
          <td>{{ view.survey|recent_completions:"72" }}</td>
        </tr>
      <tr>
          <th scope="row">Past Week</th>
          <td>{{ view.survey|recent_responses:"168" }}</td>
          <td>{{ view.survey|recent_completions:"168" }}</td>
        </tr>
      <tr>
          <th scope="row">Past 30 Days</th>
          <td>{{ view.survey|recent_responses:"720" }}</td>
          <td>{{ view.survey|recent_completions:"720" }}</td>
        </tr>
      <tr>
          <th scope="row">From Beginning</th>
          <td>{{ view.all_responses }}</td>
          <td>{{ view.all_completions }}</td>
        </tr>
      </tbody>
    </table>
{% endblock %}

{% block override_footer %}{% endblock %}