{% extends 'vueframe.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% render_bundle 'chunk-vendors' %}
{% render_bundle 'survey' %}

{% block css %}
<link href="{% static 'css/slanted_button.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block pageTitle %}Surveys{% endblock %}

{% block appName %}surveyApp{% endblock %}


{% block rootData %}
<script>
    rootData.surveyData = {{ view.survey_data|safe }}
    {% if request.user.is_authenticated %}
        rootData.user = {
            'username': '{{request.user.username}}'
        }
    {% else %}
        rootData.user = {}
    {% endif %}

    rootData.urlpaths.dashboard = {% url 'dashboard' %}
    rootData.urlpaths.submitResponse = '{% url 'Surveys:save_response' %}'
    rootData.urlpaths.submitAuthForm = '{% url 'Surveys:auth_respondent' %}'
    rootData.urlpaths.signOut = '{% url 'Surveys:log_out' %}'

    {% get_current_language as LANGUAGE_CODE %}
    rootData.language = '{{ LANGUAGE_CODE }}'
    {% if LANGUAGE_CODE == 'en' %}
        rootData.languageForm = '<form id="languageForm" method="post" action="{% url 'set_language' %}">{% csrf_token %}<input style="display: none" value="es" name="language"><button  id="langSwitch" class="skew-button" data-location="site"><span>Participar en español.</span></button></form>'
    {% endif %}

    {% if LANGUAGE_CODE == 'es' %}
        rootData.languageForm = '<form id="languageForm" method="post" action="{% url 'set_language' %}">{% csrf_token %}<input style="display: none" value="en" name="language"><button id="langSwitch" type="submit" class="skew-button" data-location="site"><span>Participate in English</span></button></form>'
    {% endif %}

</script>
{% endblock %}