{% extends 'siteframe.html' %}

{% block remove-top %}{% endblock %}
{% block lang_hooks %}{% endblock %}
{% block main %}
    <h1 style="text-align: center; padding-top:30px">{{ view.question.text }}</h1>
    {% autoescape off %}
    {% for answer in view.answers %}
                <hr>
        <h4 class="answer-text">
            "{{ answer.text }}"
        </h4>

    {% endfor %}
    {% endautoescape %}
    <hr>
{% endblock %}

{% block override_footer %}{% endblock %}