<template>
  <div id="menu" class="w-48 flex flex-col gap-4 p-4">
      <div class="py-4 border-b flex">
        <button @click="formView=true; formData=null" class="bg-green-600 text-white py-4 px-2 text-sm focus:outline-none w-full">Add Contact</button>
      </div>
      <button class="bg-blue-600 text-white py-4 px-2 text-sm focus:outline-none">Project Center</button>
      <button class="bg-yellow-600 text-white py-4 px-2 text-sm focus:outline-none">Event Center</button>
      <div class="py-4 border-t flex">
        <button @click="pageView='neighborhoods'" class="bg-gray-500 text-white py-4 px-2 text-sm focus:outline-none w-full">Neighborhoods</button>
      </div>

  </div>
  <div id="content" class="flex flex-col w-full">
    <template v-if="pageView === 'contacts'">

    <div id="filters" class="p-4 flex flex-row justify-around">

      <select id="projectFilter" class="border p-2 rounded pr-4 cursor-pointer hover:bg-gray-100">
        <option selected>All Projects</option>
        <option>Project A</option>
        <option>Project B</option>
      </select>

      <select id="neighborhoodFilter" class="border p-2 rounded pr-4 cursor-pointer hover:bg-gray-100">
        <option selected>All Neighborhoods</option>
        <option>Neighborhood A</option>
        <option>Neighborhood B</option>
      </select>

      <select id="priorityFilter" class="border p-2 rounded pr-4 cursor-pointer hover:bg-gray-100">
        <option selected>All Priorities</option>
        <option>Priority A</option>
        <option>Priority B</option>
      </select>

      <button class="flex self-end bg-black text-white text-sm py-2 px-4">Map View</button>

    </div>
    <div class="display">
        <ContactForm v-if="formView === 'contact'" />
        <div class="border p-3 flex flex-col gap-3">
          <div class="flex flex-col gap-5 border p-4 m-4">
            <div class="flex flex-row justify-between">
              <div>Robert Jackson</div>
              <div>327 Oak Tree Ln</div>
              <div>(661) 901-2929</div>
              <div>robert.r.jackson@simonsaysequipment.com</div>
              <star-rating :rating="3" :show-rating="false" :star-size="20" :read-only="true"/>
            </div>
            <div class="flex flex-row justify-between">
              <div>
                <span class="font-bold">Top Project: </span>
                <span>Litter Cleanup</span>
              </div>
              <div>
                <span class="font-bold">Top Priority: </span>
                <span>Local Environment</span>
              </div>
              <div>
                <span class="font-bold">$1300 Contributed</span>
              </div>
               <div class="p-1 border cursor-pointer hover:bg-gray-100">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-5 border p-4 m-4">
             <div class="flex flex-row justify-between">
              <div>Melinda Evans</div>
              <div>327 Moderna Ave</div>
              <div>(661) 905-4434</div>
              <div>mevans@gmail.com</div>
              <star-rating :rating="3" :show-rating="false" :star-size="20" :read-only="true"/>
            </div>
            <div class="flex flex-row justify-between">
              <div>
                <span class="font-bold">Top Project: </span>
                <span>Community & Police Dialogue</span>
              </div>
              <div>
                <span class="font-bold">Top Priority: </span>
                <span>Safety</span>
              </div>
              <div>
                <span class="font-bold">$4000 Contributed</span>
              </div>
              <div class="p-1 border cursor-pointer hover:bg-gray-100">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
              </div>
            </div>
            <div class="border-t pt-4 flex flex-col gap-4">
               <div>
                 <span class="font-bold">Known Priorities</span>: Safety, Environment, Literacy
               </div>


            <div class="grid grid-cols-3 gap-1">
              <div class="font-bold underline">
                Project
              </div>
              <div class="font-bold underline">
                Hours Participated
              </div>
              <div class="font-bold underline">
                Money Contributed
              </div>
              <div class="">
                Community & Police Dialogue
              </div>
              <div class="">
                4
              </div>
              <div class="">
                $200
              </div>
              <div class="">
                Park Planning
              </div>
              <div class="">
                2
              </div>
              <div class="">
                $0
              </div>
            </div>

            <div class="flex flex-row gap-4 w-full">
              <div class="border p-2 rounded flex-grow flex flex-col">
                <div class="flex flex-row justify-between">
                  <div class="font-bold underline ">Interaction Log</div>
                  <svg class="w-6 h-6 cursor-pointer" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                </div>
              </div>
              <div class="border p-2 rounded flex-grow flex flex-col">
                <div class="flex flex-row justify-between">
                  <div class="font-bold underline">General Notes</div>
                  <svg class="w-6 h-6 cursor-pointer" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      </template>

      <Neighborhoods v-else-if="pageView==='neighborhoods'" />


  </div>
</template>
<script>

import {ref} from 'vue'
import ContactForm from "@/components/ContactForm";
import Neighborhoods  from "@/components/Neighborhoods";
import StarRating from 'vue-star-rating'


export default {
  name: 'contactsApp',
  components: {
    StarRating, ContactForm, Neighborhoods
  },
  setup() {
    const pageView = ref('contacts')
    const formView = ref('list')
    const formKey = ref(null)
    return {formView, pageView, formKey}
  }
}
</script>

<style>

</style>
