<script>

import SurveyForm from "@/components/Builder/SurveyForm";
import QuestionForm from "@/components/Builder/QuestionForm";
import draggable from 'vuedraggable'
import {ref, watch} from "vue";
import siteApi from "@/axios-site";

export default {
  name: "EditSurvey",
  components: {SurveyForm, QuestionForm, draggable},
  setup() {

    const blankQuestion = ref({
      pk: 'new',
      text: "",
      slug: window.rootData.surveyData.slug,
      translation: "",
      response_format: "text_short",
      tags: [],
      options: [],
      translatedOptions: [],
    })

    const results = ref({})

    const responseOptions = window.rootData.responseOptions
    const questions = ref(window.rootData.questions)

    const showTopForm = ref(true)
    const activeQuestion = ref({
      pk: "",
      data: {}
    })
    watch(results, () => {
      if (results.value.operation === "get_question") {
        activeQuestion.value.pk = results.value.object.pk
        activeQuestion.value.data = results.value.object
      } else if (results.value.operation === "save_question") {
        activeQuestion.value.pk = ""
      } else if(results.value.operation === "save_survey") {
        blankQuestion.value.slug = results.value.object.slug
      }
    })

    const submitSurveyForm = async (data) => {
      data['organization_id'] = window.rootData.organization
      let payload = JSON.stringify({
        operation: 'save_survey',
        data: data
      })
      await siteApi.post(window.rootData.urlpaths.submitSurveyForm, payload).then(response => {
        results.value = response.data
        console.log(results.value)
      })
      showTopForm.value = false
    }

    const submitQuestionForm = async (data, index) => {
      let payload = JSON.stringify({
        operation: 'save_question',
        pk: activeQuestion.value.pk,
        data: data
      })
      await siteApi.post(window.rootData.urlpaths.submitQuestionForm, payload).then(response => {
        results.value = response.data
      })
      if (data.pk === 'new') {
        questions.value.push({
          pk: results.value.object.pk,
          text: data.text,
          response_format: responseOptions[data.response_format]
        })
      } else {
        const updated = questions.value[index]
        updated.text = data.text
        updated.response_format = responseOptions[data.response_format]
      }
    }

    const fetchQuestionData = async (pk) => {
      if (pk === 'new') {
        activeQuestion.value.pk = 'new'
        activeQuestion.value.data = blankQuestion
      } else {
        let payload = JSON.stringify({
          operation: 'get_question',
          pk: pk
        })
        await siteApi.post(window.rootData.urlpaths.fetchQuestionData, payload).then(response => {
          results.value = response.data
        })
      }
    }

    const deleteQuestion = async (pk, index) => {
      let r = confirm("Permanently delete this question?")
      if (r === true) {
        let payload = JSON.stringify({
          operation: 'delete_question',
          pk: pk
        })
        await siteApi.post(window.rootData.urlpaths.deleteQuestion, payload).then(response => {
            results.value = response.data
        })
        questions.value.splice(index, 1)
      }
    }

    const closeQuestionForm = () => {
      let r = confirm("Cancel and lose your changes?");
      if (r === true) {
        activeQuestion.value.pk = ""
      }
    }

    const moveQuestion = async (event) => {
      const index = event.moved.newIndex
      let payload = JSON.stringify({
          operation: 'move_question',
          position: index + 1,
          pk: event.moved.element.pk
        })
      await siteApi.post(window.rootData.urlpaths.moveQuestion, payload).then(response => {
        results.value = response.data
      })
    }

    return {
      showTopForm, activeQuestion, questions, blankQuestion,
      submitSurveyForm, submitQuestionForm, closeQuestionForm, deleteQuestion, fetchQuestionData, moveQuestion
    }
  }
}
</script>


<template>
<div class="flex flex-col h-full w-full bg-white">

  <div class="my-6 text-2xl ">
    <div class="text-center">Survey Builder</div>
  </div>

  <div class="border p-12 flex flex-row justify-between gap-4">

    <div class="w-3/5 pr-4 border-r h-full">
      <div class="text-lg text-center pb-2">Survey Info</div>
      <transition name="slide">
        <SurveyForm
          v-if="showTopForm"
          @submit="submitSurveyForm"
        ></SurveyForm>
      </transition>

      <div @click="showTopForm=!showTopForm" class="border-b flex flex-row justify-center gap-6 py-2 cursor-pointer hover:text-gray-500">
        <svg v-if="showTopForm" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7"></path></svg>
        <svg v-else class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7"></path></svg>
      </div>

      <template v-if="blankQuestion.slug !== 'new'">

        <div class="text-lg text-center pb-2 mt-4">Questions</div>

        <draggable
            v-if="questions.length"
            v-model="questions"
            item-key="id"
            ghost-class="ghost"
            handle=".handle"
            @change="moveQuestion"
        >
          <template #item="{element, index}">
            <div :pk="element.pk" class="border mb-2">
              <QuestionForm
              v-if="activeQuestion.pk === element.pk"
              :data="activeQuestion.data"
              :index="index"
              @submit="submitQuestionForm"
              @closeForm="closeQuestionForm"
              >
              </QuestionForm>

              <div
              v-else
              :pk="element.pk"
              class="select-none justify-between"
              >

              <div class="flex flex-row items-stretch">

                <div class="handle flex flex-col justify-around p-4 border-r cursor-pointer hover:text-gray-500">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                </div>

                <div class="flex flex-col flex-grow justify-between p-4">
                  <div class="text-md pb-4">{{ element.text }}</div>
                  <div class="text-sm self-end">{{ element.response_format }}</div>
                </div>

                <div
                  class="flex flex-col justify-around border-l"
                >
                  <div @click="fetchQuestionData(element.pk)" class="p-4 border-b cursor-pointer hover:text-blue-400">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                  </div>
                  <div @click="deleteQuestion(element.pk, index)" class="p-4 cursor-pointer hover:text-red-400">
                    <svg class="w-6 h-6 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                  </div>
                </div>
              </div>
              </div>
              </div>
          </template>
        </draggable>

        <div
        class="border mb-2"
        >
          <QuestionForm
          v-if="activeQuestion.pk === 'new'"
          :data="activeQuestion.data"
          :index="index"
          @submit="submitQuestionForm"
          @closeForm="closeQuestionForm"
          >
          </QuestionForm>
          <div
          v-else
          @click="fetchQuestionData('new')"
          class="select-none h-28 cursor-pointer text-xl flex flex-row items-center justify-around hover:text-gray-500"
          >
            + Add New
          </div>

       </div>
      </template>
    </div>


    <div class="flex flex-col w-2/5">
        <div class="text-lg text-center pb-2 mt-4">Question Finder</div>
        <div class="text-xs w-1/2 self-center text-gray-400 text-center">
          Select existing questions to compare responses across multiple surveys.
        </div>

        <div class="p-4 flex flex-col">

        </div>

    </div>
  </div>



</div>

</template>

<style>

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.end-icon {
    padding: 6px;
    color: black;
    cursor: pointer;
}
.end-icon:hover {
  color: #ff4b85;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3e4144;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.ti-input {
    min-height: 44px;
}
.ti-tag{
    background-color: #565656 !important;
    padding: 7px 8px !important;
}
.vue-tags-input {
  max-width: none !important;
}

.slide-enter-from, .slide-leave-to {
    height: 0;
    overflow-y: hidden;
}
.slide-enter-to, .slide-leave-from {
   height: 632px;
   overflow-y: hidden;
}
.slide-enter-active, .slide-leave-active {
	transition: all 250ms linear;
}


.expand-enter-from, .expand-leave-to {
    height: 88px;
    overflow-y: hidden;
}
.expand-enter-to, .expand-leave-from {
   height: 494px;
   overflow-y: hidden;
}
.expand-enter-active, .expand-leave-active {
	transition: all 250ms linear;
}



</style>