<script>
import {ref} from 'vue'
import siteApi from "@/axios-site";

export default {
  name: "ManageSurveys",
  components: {},
  setup() {
    // const socket = inject('socket')
    // const userAlert = socket.data.message
    const filter = ref('present')
    const selected = ref(null)
    const preview = ref({
      title: "",
      responseRate: 0
    })
    const surveys = {
      past: JSON.parse(window.rootData.surveys.past),
      present: JSON.parse(window.rootData.surveys.present),
      future: JSON.parse(window.rootData.surveys.future),
    }

    const setSelected = async (pk) => {
      let payload = JSON.stringify({'pk': pk})
      await siteApi.post(window.rootData.urlpaths.previewSurvey, payload).then(response => {
        selected.value = pk
        preview.value = response.data.results
      })
    }

    return {
      selected, filter, surveys, preview, setSelected
    }
  }
}
</script>


<template>
<div class="h-full w-full bg-white">
  <div class="flex flex-col h-28 justify-center items-center bg-black  text-white">
    <a href="/surveys/builder/new/" class=" flex flex-col items-center cursor-pointer">
      <div class="p-2 bg-black ">New Survey</div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
    </a>
  </div>

  <div class="flex flex-col">

    <div class="flex flex-row justify-around text-2xl">
      <div
        @click="filter='future'"
        class="font-title w-full text-center hover:bg-gray-100 py-4 select-none cursor-pointer"
      >
        <span
          :class="{'border-b-2 border-pink-400': filter==='future'}"
          class="pb-2 ">
          Upcoming
        </span>
      </div>
      <div
        @click="filter='present'"
        class="font-title w-full text-center hover:bg-gray-100 py-4 select-none cursor-pointer border-l border-r"
      >
        <span
          :class="{'border-b-2 border-pink-400': filter==='present'}"
          class="pb-2">
          Active
        </span>
      </div>
      <div
        @click="filter='past'"
        class="font-title w-full text-center hover:bg-gray-100 py-4 select-none cursor-pointer"
      >
        <span
          :class="{'border-b-2 border-pink-400': filter==='past'}"
          class="pb-2 ">
          Closed
        </span>
      </div>
    </div>

    <div class="flex flex-col border-t">

      <div
          v-for="survey in surveys[filter]"
          :key="survey.pk"
          @click="setSelected(survey.pk)"
          class="flex flex-row border-b p-5 hover:bg-gray-100 cursor-pointer"
      >
        <div class="w-3/4">
          {{ survey.label }}
          <div v-if="selected===survey.pk" class="p-2 flex flex-row">
            <div class="flex flex-col">
              <div class="text-sm uppercase">Average Responses per Question</div>
              {{ preview.responseRate }}
            </div>
            <a :href="'/surveys/builder/' + survey.slug" class="btn ml-12">Edit</a>
            <a :href="'/surveys/add_response/' + survey.slug" class="btn ml-12">Add Responses</a>
          </div>
        </div>

        <div
            class="flex flex-col"
        >
          <div>
            <div class="uppercase text-sm">Opened:</div>
            <div>{{survey.date_opened}}</div>
          </div>
          <div class="pt-2 mt-2">
            <div class="uppercase text-sm">Closed:</div>
            <div>{{ survey.date_closed }}</div>
          </div>
        </div>

      </div>
    </div>

  </div>

<transition name="bounce">
  <div
    v-if="userAlert"
    class="absolute bottom-0 p-5 w-screen text-center bg-yellow-100 border-gray-200 border"
  >
    {{ userAlert }}
  </div>
</transition>
</div>

</template>

<style>
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.end-icon {
    padding: 6px;
    color: black;
    cursor: pointer;
}
.end-icon:hover {
  color: #ff4b85;
}
</style>