<script>
import {ref, watch} from 'vue'
import TextInput from "@/components/SurveyFields/TextInput";
import BooleanInput from "@/components/SurveyFields/BooleanInput";
import RangeInput from "@/components/SurveyFields/RangeInput";
import SelectInput from "@/components/SurveyFields/SelectInput";
import AuthForm from "@/components/AuthForm";
import { useGettext } from "@jshmrtn/vue3-gettext";
import siteApi from "@/axios-site";

export default {
  name: "TakeSurvey",
  components: {TextInput, BooleanInput, RangeInput, SelectInput, AuthForm},
  setup() {
    // const socket= inject('socket')
    // const userAlert = socket.data.message
    // const results = socket.data.results
    // const user = socket.data.user
    // const errors = socket.data.errors
    const user = ref(window.rootData.user)
    const results = ref({})
    const errors = ref({})

    const slug = window.rootData.surveyData.slug
    const intro = window.rootData.surveyData.intro
    const questions = window.rootData.surveyData.questions
    const languageForm = window.rootData.languageForm

    const answers = ref({...window.rootData.surveyData.answers})
    const step = ref(0)
    const showQuestion = ref(0)

    const language = useGettext()
    language.current = window.rootData.language

    watch(results, () => {
      if (results.value.success === false) {
        errors.value = results.value.errors
      } else if (results.value.operation === "set_user") {
        user.value = results.value.object
      } else if (results.value.operation === "log_out") {
        user.value = {}
      }
    })

    function configureForm(question) {
      const settings = question.response_format.split('_')
      const fieldType = settings[0]
      const format = settings.length > 1 ? settings[1] : null
      return {type: fieldType, format: format}
    }

    function changeQuestion(direction) {
      if (direction === 'fwd') {
        if (showQuestion.value < (questions.length - 1)) {
          showQuestion.value += 1
        } else {
          step.value = 2
        }
      } else {
        if (showQuestion.value > 0) {
          showQuestion.value -= 1
        } else {
          step.value = 0
        }
      }
    }

    async function saveData(info) {
      let payload = {
        operation: 'save_response',
        survey: info.pk,
        response: info.data,
        moment: new Date().toISOString()
      }
      // socket.send(payload)
      results.value = await siteApi.post(window.rootData.urlpaths.submitResponse, payload)
      answers.value[info.pk] = info.data
      changeQuestion(info.direction)
    }

    async function submitAuthForm(data) {
      data.data['slug'] = slug
      console.log(data)
      let payload = JSON.stringify({
        operation: data.form,
        data: data.data,
      })
      await siteApi.post(window.rootData.urlpaths.submitAuthForm, payload).then(response => {
        results.value = response.data
      })
      // socket.send(payload)
    }

    async function signOut() {
      let payload = JSON.stringify({
        operation: 'sign_out'
      })
      await siteApi.post(window.rootData.urlpaths.signOut, payload).then(response => {
         results.value = response.data
      })

      // socket.send(payload)
    }

    function redirectEnd() {
      window.location.href = window.rootData.urlpaths.dashboard
    }

    function getQuestionText(question) {
      let text
      let language = window.rootData.language
      if (language=== 'en') {
        text = question.text
      } else {
        try {
          text = window.rootData.surveyData.textTranslations[question.id][language]
          console.log(text)
        }
        catch(err) {
          text = question.text
        }
        if (!text || text.length === 0){
          text = question.text
      }}
      return text
    }

    function getOptions(question){
      let options
      let language = window.rootData.language
      if (language === 'en') {
        options = question.options
      } else {
        options = window.rootData.surveyData.optionsTranslations[question.id][language]
        if (!options || options.length === 0) {
          options = question.options
        }
      }
      return options
    }

    return {
      slug, intro, questions, step, showQuestion, answers, languageForm, user, errors,
      configureForm, saveData, signOut, submitAuthForm, redirectEnd, getQuestionText, getOptions
    }
  }
}
</script>


<template>
<div class="flex flex-col h-full w-full bg-white justify-center items-center">

  <div class="w-3/4">

    <div v-if="step === 0" class="flex flex-col gap-12 text-center">
      <div class="text-center mb-6" v-html="languageForm"></div>
      <h1 v-translate class="font-title text-center text-4xl">
        Thank You For Participating
      </h1>
      <div class="text-gray-500 flex flex-col gap-5">
        <p>{{ intro }}</p>
        <p v-translate>Your responses are 100% anonymous. We are an independent non-profit and are not affiliated with the City of Shafter in any way.</p>
        <div v-if="!user || !user.username" class="flex flex-col gap-5">
          <p v-translate>
            If you'd like our system to remember your answers so you won't lose your progress if you get interrupted, please sign up or log in to your Listen To Shafter profile:
          </p>
          <AuthForm
            :errors="errors"
            @submitForm="submitAuthForm"
          />
        </div>
        <div v-else class="flex flex-col gap-4">
          <div v-translate>You are currently logged in with the following account information:</div>
          <div class="text-xl font-title">{{ user.username }}</div>
          <div>
            <span v-translate>If you do not recognize this information as yours, please</span>
            <a @click.prevent="signOut" class="text-blue-400" href="#">
              <span v-translate> log out</span>
            </a>.
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-center">
         <button @click="step=1" type="button" class="btn btn-lg btn-dark flex flex-row items-center gap-2">
           <span v-translate>Begin Survey</span>
           <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
         </button>
       </div>
    </div>

    <div v-else-if="step === 1" class="flex flex-col text-center">

      <template v-for="(question, index) in questions" :key="question.id">

        <div v-if="showQuestion===index" class="flex flex-col gap-14">
          <p class="text-3xl text-gray-600">{{ getQuestionText(question) }}</p>

          <TextInput
              v-if="configureForm(question).type === 'text'"
              :format="configureForm(question).format"
              :pk="question.id"
              :initial="answers[question.id]"
              @saveData="saveData"
          />

          <BooleanInput
            v-else-if="configureForm(question).type === 'boolean'"
            :pk="question.id"
            :initial="answers[question.id]"
            @saveData="saveData"
          />

          <RangeInput
            v-else-if="configureForm(question).type === 'range'"
            :pk="question.id"
            :initial="answers[question.id]"
            @saveData="saveData"
          />

          <SelectInput
              v-else-if="configureForm(question).type === 'select'"
              :format="configureForm(question).format"
              :pk="question.id"
              :initial="answers[question.id]"
              :options="getOptions(question)"
              @saveData="saveData"
          />
        </div>

      </template>

    </div>

    <div v-else-if="step === 2" class="flex flex-col gap-12 text-center">
      <h1 v-translate class="font-title text-center text-4xl">
        Thanks again for taking part in this study!
      </h1>
      <div class="text-gray-500 flex flex-col gap-5">
        <p v-translate>
          As promised, your responses will remain 100% anonymous.
        </p>
        <p v-translate>
          Listen To Shafter is dedicated to learning about the people who live and work here. If you have the means, please consider sponsoring us with a small monthly donation. Your assistance will help us build a more complete picture of our community by giving a voice to more of your neighbors!
        </p>
        <p v-translate>
          If you haven't yet, please be sure to complete the other surveys on your dashboard. Your participation is incredibly helpful to everyone who is working to make our city the best place it can be! Also, please consider sharing this website with some fellow Shafter people and inviting them to participate as well. We need every last person's help!
        </p>
        <p class="mt-4">
          <a class="end-icon" href="https://www.instagram.com/listentoshafter/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
          <a class="end-icon" href="/snapcode/"><i class="fa fa-snapchat-square fa-3x" aria-hidden="true" target="_blank"></i></a>
          <a class="end-icon" href="https://www.facebook.com/Listen-to-Shafter-330078214288386/" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
          <a class="end-icon" href="https://twitter.com/listentoshafter?lang=en" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="flex flex-row justify-center">
         <button @click="redirectEnd()" type="button" class="btn btn-lg btn-dark flex flex-row items-center gap-2">
           <span v-translate>Finish</span>
           <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
         </button>
       </div>
    </div>


  </div>

</div>

</template>

<style>
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.end-icon {
    padding: 6px;
    color: black;
    cursor: pointer;
}
.end-icon:hover {
  color: #ff4b85;
}
</style>