<script>
import {ref} from 'vue'

export default {
  name: "BooleanInput",
  props:['pk', 'initial'],
  emits: ['saveData'],
  setup(props, ctx) {
    const input = ref(props.initial)

    function submit(direction) {
      ctx.emit('saveData', {data:input.value, direction:direction, pk: props.pk})
    }

    return {input, submit}
  }
}
</script>

<template>

  <div class="flex flex-row gap-10 justify-center items-center">

    <div class="flex flex-row gap-2 items-center text-xl">
      <input type="radio" id="one" :value="true" v-model="input">
      <label for="one">Yes</label>
    </div>
    <div class="flex flex-row gap-2 items-center text-xl">
      <input type="radio" id="two" :value="false" v-model="input">
      <label for="two">No</label>
    </div>

  </div>


  <div class="flex flex-row justify-center gap-2">

    <button @click="submit('back')" type="button" class="btn btn-lg btn-white flex flex-row items-center gap-2">
     <span v-translate>Go Back</span>
   </button>

    <button @click="submit('fwd')" type="button" class="btn btn-lg btn-dark flex flex-row items-center gap-2">
     <span v-translate>Proceed</span>
   </button>

  </div>
</template>
