<script>
import {ref} from 'vue'

export default {
  name: "SelectInput",
  props:['format', 'pk', 'initial', 'options'],
  emits: ['saveData'],
  setup(props, ctx) {
    const input = ref(props.initial)

    function submit(direction) {
      ctx.emit('saveData', {data:input.value, direction:direction, pk: props.pk})
    }

    return {input, submit}
  }
}
</script>

<template>

  <div class="flex flex-row gap-10 justify-center items-center">

    <div v-if="format==='one'" class="flex flex-col gap-2">
      <div
        v-for="(option, index) in options"
        :key="option"
        class="flex flex-row gap-2 items-center text-xl"
      >
        <input type="radio" :id="index" :value="index" v-model="input">
        <label :for="index">{{ option }}</label>
      </div>
    </div>

    <div v-else>
      <div
        v-for="(option, index) in options"
        :key="option"
        class="flex flex-row gap-2 items-center text-xl"
      >
        <input type="checkbox" :id="index" :value="index" v-model="input">
        <label :for="index">{{ option }}</label>
      </div>
    </div>


  </div>


  <div class="flex flex-row justify-center gap-2">

    <button @click="submit('back')" type="button" class="btn btn-lg btn-white flex flex-row items-center gap-2">
     <span v-translate>Go Back</span>
   </button>

    <button @click="submit('fwd')" type="button" class="btn btn-lg btn-dark flex flex-row items-center gap-2">
     <span v-translate>Proceed</span>
   </button>

  </div>
</template>
