<script>
import {ref} from 'vue'

export default {
  name: "TextInput",
  props:['format', 'pk', 'initial'],
  emits: ['saveData'],
  setup(props, ctx) {
    const input = ref(props.initial)

    function submit(direction) {
      ctx.emit('saveData', {data:input.value, direction:direction, pk: props.pk})
    }

    return {input, submit}
  }
}
</script>

<template>

  <div v-if="format === 'short'">
    <input v-focus v-model="input" type="text" class="input" />
  </div>

  <div v-else>
     <textarea v-focus v-model="input" name="response" class="input w-full" rows="5"></textarea>
  </div>

  <div class="flex flex-row justify-center gap-2">

    <button @click="submit('back')" type="button" class="btn btn-lg btn-white flex flex-row items-center gap-2">
     <span v-translate>Go Back</span>
   </button>

    <button @click="submit('fwd')" type="button" class="btn btn-lg btn-dark flex flex-row items-center gap-2">
     <span v-translate>Proceed</span>
   </button>

  </div>
</template>
