@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600
  }
}

@layer utilities {
    .btn{
        border: 2px solid #212121;
        padding: 13px 30px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        text-transform: uppercase;
        font-size: 15px;
        font-family: 'Karla';
    }
    .btn:hover {
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 37%), 0 2px 10px 0 rgb(0 0 0 / 32%)
    }
    .btn-dark {
        background: #1b1b1b;
        color: white;
        border: 1px solid #1b1b1b;
    }
    .input {
        font-size: 18px;
        padding: 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #e5e7eb;
    }
    input:focus {
        outline: none;
        border-bottom: 2px solid #909090;
    }
    input:focus-visible {
        outline: none;
        border-bottom: 2px solid #909090;
    }
    body{
     margin:0;
     padding: 0;
     font-family: sans-serif;

    }

    input[type="radio"] + label span {
        transition: background .2s,
          transform .2s;
    }

    input[type="radio"] + label span:hover,
    input[type="radio"] + label:hover span{
      transform: scale(1.2);
    }

    input[type="radio"]:checked + label span {
      background-color: #212121;
      box-shadow: 0px 0px 0px 2px white inset;
    }

    input[type="radio"]:checked + label{
       color: #3490DC;
    }

}